{% extends "BoMConfig/actions.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block subcontent %}
        <script>$('button[value="active"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');</script>
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="cu_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Customer <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for customer in customer_list %}
                    <li><a onclick="cust_filter('{{ customer|replace:"& _"|replacewhitespace:"-_" }}');">{{ customer }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <h4>Active</h4>
            {% if active %}
            <form id="active_action" onsubmit="return false;">
                <button id="clone" class="btn" value="clone">Clone</button>
                <div><br/></div>
                <table>
                    <thead>
                        <tr class="{% for customer in customer_list %}{{ customer|replace:"& _"|replacewhitespace:"-_" }} {% endfor %}">
                            <th style="width:25px"></th><th style="width:200px">Configuration Designation</th><th style="width:500px">Baseline</th><th style="width:115px">Program</th><th style="width:115px"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in active %}
                        <tr class="{{ record.customer_unit.name|safe|replace:"& _"|replacewhitespace:"-_" }}">
                            <td><input class="active" type="checkbox" data-index="{{ record.id }}"/></td>
                            <td>{{ record.configuration_designation }}</td>
                            <td>{{ record.baseline | default:"(Not baselined)" }}</td>
                            <td>{{ record.program | default:"(None)" }}</td>
                            {% if user|has_group:"BOM_PSM_SAP_Document" or user|has_group:"BOM_BPMA_Architect" %}
                                {% if not record.inquiry_site_template or record.inquiry_site_template == -1 or record.inquiry_site_template > 0 and not record.inquiry_site_template|startswith:"1" or record.inquiry_site_template < -1 and not record.inquiry_site_template|startswith:"-1" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Creation" %}
                                    <td style="padding: 0 5px 5px 0;">
                                        <button class="btn btn-primary doc_button"
                                                data-id="{{ record.id }}" data-update="0" data-type="0"
                                        {% if record.inquiry_site_template == -1 %}
                                                                          disabled title="Document creation in work"
                                        {% endif %}>Create Inquiry</button>
                                    </td>
                                    {% endif %}
                                {% elif record.inquiry_site_template and record.inquiry_site_template|startswith:"1" or record.inquiry_site_template < -1 and record.inquiry_site_template|startswith:"-1" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Modification" %}
                                    <td style="padding: 0 5px 5px 0;">
                                        <button class="btn btn-primary doc_button"
                                                data-id="{{ record.id }}" data-update="1" data-type="0"
                                        {% if record.inquiry_site_template <= -1 %}
                                                                          disabled title="Document creation in work"
                                        {% endif %}>Update Inquiry</button>
                                    </td>
                                    {% endif %}
                                {% endif %}

                                {% if not record.inquiry_site_template or record.inquiry_site_template == -1 or record.inquiry_site_template > 0 and not record.inquiry_site_template|startswith:"4" or record.inquiry_site_template < -1 and not record.inquiry_site_template|startswith:"-4" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Creation" %}
                                    <td style="padding: 0 0 5px 0;">
                                        <button class="btn btn-primary doc_button"
                                                data-id="{{ record.id }}" data-update="0" data-type="1"
                                        {% if not record.site_template_eligible or record.inquiry_site_template <= -1 %}
                                            disabled title="
                                            {% if not record.site_template_eligible %}
                                                Configuration contains ZBIL or ZERV
                                            {% elif record.inquiry_site_template == -1 %}
                                                Document creation in work
                                            {% endif %}"
                                        {% endif %}>Create ST</button>
                                    </td>
                                    {% endif %}
                                {% elif record.inquiry_site_template and record.inquiry_site_template|startswith:"4" or record.inquiry_site_template < -1 and record.inquiry_site_template|startswith:"-4" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Modification" %}
                                    <td style="padding: 0 0 5px 0;">
                                        <button class="btn btn-primary doc_button"
                                                data-id="{{ record.id }}" data-update="1" data-type="1"
                                        {% if not record.site_template_eligible or record.inquiry_site_template <= -1 %}
                                            disabled title="
                                            {% if not record.site_template_eligible %}
                                                Configuration contains ZBIL or ZERV
                                            {% elif record.inquiry_site_template <= -1 %}
                                                Document creation in work
                                            {% endif %}"
                                        {% endif %}>Update ST</button>
                                    </td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            {% else %}
                <h5>NO ACTIVE RECORDS</h5>
            {% endif %}
{% endblock %}