{% extends "BoMConfig/actions.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block subcontent %}
        <script>$('button[value="active"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');</script>
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="cust_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Customer <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for customer in customer_list %}
                    <!--S-10575: Add 3 filters for Customer, Baseline and Request Type  in Documents Tab:- Added below to check if the CU is not 'All' then the href will have the customer ID to
 redirect to the respective inprocess customer page else if it is 'All' then it will stay in the same page(url ending with #)-->
                      {% if customer != 'All' %}
                        <li><a  href="{% url 'bomconfig:action_active_customer' customer.id %}" onclick="customer_filter('{{ customer }}');">{{ customer }}</a></li>
                      {% else %}
                        <li><a  href="#" onclick="customer_filter('{{ customer }}');">{{ customer }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
         <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
<!--D-04023-Customer filter on Actions issue for Admin users :- Added below to show the selected CU in the dropdown title-->
                <button id="cname_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown" >Customer Name<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <option value="">-------</option>
                </ul>
            </li>
        </ul>
        <!--S-10575: Add 3 filters for Customer, Baseline and Request Type  in Documents Tab:- Added below two dropdowns to filter records based on baseline-->
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <!--S-11553: Actions tab changes : Changed Baseline to Catalog in Filter button-->
                <button id="base_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Catalog <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for baseline in baseline_active %}
                    <li><a  href="#" onclick="base_filter('{{ baseline }}');">{{ baseline }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="req_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Request Type <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for request in requests %}
                    <li><a  href="#" onclick="req_filter('{{ request }}');">{{ request }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <h4>Document Creation</h4>
            {% if active %}
            <form id="active_action" onsubmit="return false;">
                <button id="clone" class="btn" value="clone">Clone</button>
                <div><br/></div>
               <!--S-10575: Add 3 filters for Customer, Baseline and Request Type  in Documents Tab:- Added table id-->
                <table id="document_records">
                    <thead>
                        <tr class="{% for customer in customer_list %}{{ customer|replace:"& _"|replacewhitespace:"-_" }} {% endfor %}">
                            <th style="width:25px"></th><th style="width:200px">Configuration Designation</th>
                        <!--S-11553: Actions tab changes : Changed Baseline to Catalog in Table Header UI-->
                            <th style="width:400px">Catalog</th>
                            <th style="width:75px">BOM Request Type</th><th style="width:115px">Program</th><th style="width:200px">Inquiry / Site Template</th><th style="width:115px"></th><th style="width:115px"></th>
                            {% if user|has_group:"BOM_PSM_SAP_Document" or user|has_group:"BOM_BPMA_Architect" %}
                            <th style="width:115px">Request Error</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in active %}
                        <tr class="{{ record.customer_unit.name|safe|replace:"& _"|replacewhitespace:"-_" }}">
                            <td><input class="active" type="checkbox" data-index="{{ record.id }}"/></td>
                            <td>{{ record.configuration_designation }}</td>
                            <!--<td>{{ record.baseline | default:"(Not baselined)" }}</td>-->
                            <td>{% if record.baseline.title != 'No Associated Baseline' %}{{ record.baseline|default:"(Not baselined)" }}{% else %}(Not baselined){% endif %}</td>
                            <td>{{ record.bom_request_type.name }}</td>
                            <td>{{ record.program | default:"(None)" }}</td>
                            <td>
                                {% if record.inquiry_site_template and record.inquiry_site_template < 0 %}
                                    {% if record.inquiry_site_template < -1 %}
                                        {{ record.inquiry_site_template|stringformat:"i"|slice:"1:" }} (Pending Update)
                                    {% else %}
                                        Pending
                                    {% endif %}
                                {% else %}
                                    {{ record.inquiry_site_template|default:'------' }}
                                {% endif %}
                            </td>
                            {% if user|has_group:"BOM_PSM_SAP_Document" or user|has_group:"BOM_BPMA_Architect" %}
                                {% if not record.inquiry_site_template or record.inquiry_site_template == -1 or record.inquiry_site_template > 0 and not record.inquiry_site_template|startswith:"1" or record.inquiry_site_template < -1 and not record.inquiry_site_template|startswith:"-1" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Creation" %}
                                    <td style="padding: 0 5px 5px 0;">
                                        <button class="btn btn-primary doc_button"
                                                data-id="{{ record.id }}" data-update="0" data-type="0" data-pdf_allowed="{% if record.pdf_allowed %}1{% else %}0{% endif %}"
                                        {% if  not record.inquiry_eligible or record.inquiry_site_template <= -1 or record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed %}
                                                disabled title=
                                            {% if record.inquiry_site_template <= -1 %}
                                                "Document creation in work"
                                            {% elif record.contains_fap_parts %}
                                                "Configuration contains a DPP. Manual SAP document required."
                                            {% elif not record.inquiry_eligible %}
                                                "Configuration is missing needed data or contains incorrect data. Please check:
    Net value and unit price
    Item category
    Higher-level item
    Sold-to, Ship-to, Bill-to party
    Ericsson contract
    Payment terms
    Valid-from & valid-to date
    Plant"
                                            {% elif record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed %}
                                                "Replacing record does not have a valid SAP document"
                                            {% endif %}
                                        {% else %}title="Create new Inquiry"
                                        {% endif %}>Create Inquiry</button>
                                    </td>
                                    {% endif %}
                                {% elif record.inquiry_site_template and record.inquiry_site_template|startswith:"1" or record.inquiry_site_template < -1 and record.inquiry_site_template|startswith:"-1" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Modification" %}
                                    <td style="padding: 0 5px 5px 0;">
                                        <button class="btn btn-warning doc_button"
                                                data-id="{{ record.id }}" data-update="1" data-type="0" data-pdf_allowed="{% if record.pdf_allowed %}1{% else %}0{% endif %}"
                                        {% if not record.inquiry_eligible or record.inquiry_site_template <= -1 or record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed%}
                                                disabled title=
                                            {% if record.inquiry_site_template <= -1 %}
                                                "Document creation in work"
                                            {% elif record.contains_fap_parts %}
                                                "Configuration contains a DPP. Manual SAP document required."
                                            {% elif not record.inquiry_eligible %}
                                                "Configuration is missing needed data or contains incorrect data. Please check:
    Net value and unit price
    Item category
    Higher-level item
    Sold-to, Ship-to, Bill-to party
    Ericsson contract
    Payment terms
    Valid-from & valid-to date
    Plant"
                                            {% elif record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed %}
                                                "Replacing record does not have a valid SAP document"
                                            {% endif %}
                                        {% else %}title="Update existing Inquiry"
                                        {% endif %}>Update Inquiry</button>
                                    </td>
                                    {% endif %}
                                {% endif %}

                                {% if not record.inquiry_site_template or record.inquiry_site_template == -1 or record.inquiry_site_template > 0 and not record.inquiry_site_template|startswith:"4" or record.inquiry_site_template < -1 and not record.inquiry_site_template|startswith:"-4" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Creation" %}
                                    <td style="padding: 0 0 5px 0;">
                                        <button class="btn btn-primary doc_button"
                                                data-id="{{ record.id }}" data-update="0" data-type="1"
                                        {% if not record.site_template_eligible or record.inquiry_site_template <= -1 or record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed%}
                                            disabled title=
                                            {% if record.inquiry_site_template <= -1 %}
                                                "Document creation in work"
                                            {% elif record.contains_fap_parts %}
                                                "Configuration contains a DPP. Manual SAP document required."
                                            {% elif not record.inquiry_eligible %}
                                                "Configuration is missing needed data or contains incorrect data. Please check:
    Item category
    Higher-level item
    Sold-to, Ship-to, Bill-to party
    Ericsson contract
    Payment terms
    Valid-from & valid-to date
    Plant"
                                            {% elif record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed %}
                                                "Replacing record does not have a valid SAP document"
                                            {% endif %}
                                        {% else %}title="Create new Site Template"
                                        {% endif %}>Create ST</button>
                                    </td>
                                    {% endif %}
                                {% elif record.inquiry_site_template and record.inquiry_site_template|startswith:"4" or record.inquiry_site_template < -1 and record.inquiry_site_template|startswith:"-4" %}
                                    {% if user|has_group:"BOM_PSM_SAP_Document_Modification" %}
                                    <td style="padding: 0 0 5px 0;">
                                        <button class="btn btn-warning doc_button"
                                                data-id="{{ record.id }}" data-update="1" data-type="1"
                                        {% if not record.site_template_eligible or record.inquiry_site_template <= -1 or record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed%}
                                            disabled title=
                                            {% if record.inquiry_site_template <= -1 %}
                                                "Document creation in work"
                                            {% elif record.contains_fap_parts %}
                                                "Configuration contains a DPP. Manual SAP document required."
                                            {% elif not record.inquiry_eligible %}
                                                "Configuration is missing needed data or contains incorrect data. Please check:
    Item category
    Higher-level item
    Sold-to, Ship-to, Bill-to party
    Ericsson contract
    Payment terms
    Valid-from & valid-to date
    Plant"
                                            {% elif record.bom_request_type.name == 'Discontinue' and not record.discontinue_can_proceed %}
                                                "Replacing record does not have a valid SAP document"
                                            {% endif %}
                                        {% else %}title="Update existing Site Template"
                                        {% endif %}>Update ST</button>
                                    </td>
                                    {% endif %}
                                {% endif %}
                                <td>{{ record.latestdocrequest.req_error | default:"" }}</td>
                            {% endif %}
                        </tr>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            {% else %}
                <h5>NO ACTIVE RECORDS</h5>
            {% endif %}
{% endblock %}