{% extends "BoMConfig/template.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block content %}
<div id="main-body">
    {% if user.is_authenticated %}
        {% if viewauthorized %}
        <div id="action_buttons" style="margin: 5px 0 10px 0;">
            <button class="btn" type="button" name="action" value="inprocess" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:action_inprocess' %}'>In Process</button>
            <button class="btn" type="button" name="action" value="active" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:action_active' %}'>Documents</button>
            <button class="btn" type="button" name="action" value="hold" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:action_hold' %}'>On Hold</button>
            <button class="btn" type="button" name="action" value="changepart" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:action_changepart' %}'>Change Part</button>
        </div>
        {% block subcontent %}{% endblock %}
        {% else %}
        <h4>You do not have sufficient permissions to view this asset.</h4>
        {% endif %}
    {% else %}
    <h4>You must log in to use this function</h4>
    {% endif %}
</div>
{% if user.is_authenticated %}
    <script>
        var approve_list_url="{% url 'bomconfig:approve_list' %}";
        var approve_url="{% url 'bomconfig:approve' %}";
        var approval_levels ={{ approval_seq|slice:"1:-1"|safe }};
        var doc_url="{% url 'bomconfig:document_create' %}";
    </script>
    <script type="text/javascript" src="{% static 'BoMConfig/js/actions.js' %}"></script>
{% endif %}
{% endblock %}