{% extends "BoMConfig/actions.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block subcontent %}
        <script>$('button[value="inprocess"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');</script>
        <div id="hintBox"></div>
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
<!--D-04023-Customer filter on Actions issue for Admin users :- Added below to show the selected CU in the dropdown title-->
                {% for customer in selectedcustomer %}
                    <button id="cu_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown" >{{customer}}<span class="caret"></span></button>
                {% endfor %}
                <ul class="dropdown-menu">
                    {% for customer in customer_list %}
<!-- D-04023-Customer filter on Actions issue for Admin users :- Added below to check if the CU is not 'All' then the href will have the customer ID to
 redirect to the respective inprocess customer page else if it is 'All' then it will redirect to the inprocess page-->
                      {% if customer != 'All' %}
                        <li><a  href="{% url 'bomconfig:action_inprocess_customer' customer.id %}" onclick="cust_filter('{{ customer }}');">{{ customer }}</a></li>
                      {% else %}
                        <li><a  href="{% url 'bomconfig:action_inprocess' %}" onclick="cust_filter('{{ customer }}');">{{ customer }}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
<!--S-12405:Actions & Approvals adjustments - Added below block for the customer name filter-->
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="cname_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown" >Customer Name<span class="caret"></span></button>
                <ul id='custname' class="dropdown-menu" style="overflow:scroll; height:300px;">
                    {% for customername in customername_list %}
                    <!--S-14608: Actions-In Process: Tier 1 Customer Unit/Customer name logic change - Removed the cust name if condition block-->
                        <li><a onclick="custname_filter('{{ customername }}');">{{ customername }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <!--S-11553: Actions tab changes : Changed Baseline to Catalog in Filter Button-->
                <button id="baseline_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Catalog<span class="caret"></span></button>
                <!-- S-12405: Actions & Approvals adjustments - Commented & removed below block as the baseline gets populated based on customer name now-->
                <ul id="catfilterdropdown" class="dropdown-menu">
                    {% for baseline in baselines %}
                            <li><a href="#" onclick="catalog_filter('{{ baseline }}')">{{ baseline }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="btn" style="border: none; padding: 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="request_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Request Type <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for request in requests %}
                    <li><a href="#" onclick="request_filter('{{ request }}');">{{ request }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <h4>In Process</h4>
            {% if in_process %}
            <form id="in_process_action" onsubmit="return false;">
                <button id="approval_submit" class="btn btn-success" value="send_to_approve">Submit for Approval</button>
                <button id="hold" class="btn btn-warning" value="hold">Place on Hold</button>
                <button id="delete" class="btn btn-danger" value="delete">Delete</button>
                <button id="cancel" class="btn btn-primary" value="cancel" style="margin-left: 20px;">Cancel Configuration</button>
                <div><br/></div>
                <table id="in_process_records">
                    <thead>
                        <tr class="{% for cust in customer_list %}{{ cust|replace:"& _"|replacewhitespace:"-_" }} {% endfor %}">
<!--                            <th></th><th style="width:15px;"></th>-->
                        <!-- S-14498: Actions - In Process: Select all checkbox implementation:- Commented above line. Added below line to show checkbox for select all-->
                            <th style="width: 20px;"><input class="selectall" type="checkbox"></th>
                            <th></th>
                            <th>Configuration Designation</th><th style="width:25px;"></th>
                            <th>Program</th><th style="width:25px;"></th>
                        <!--S-11553: Actions tab changes : Changed Baseline to Catalog in Filter Button-->
                            <th>Catalog</th><th style="width:25px;"></th>
                            <th>Person Responsible</th><th style="width:25px;"></th>
                            <th>BOM Request Type</th><th style="width:25px;"></th>
                            <th>CU</th><th style="width:25px;"></th>
                            <th>Customer</th><th style="width:25px;"></th>
                            {% for name in namelist %}
                            <th class="rotate"><div><span>{{ name }}</span></div></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in in_process %}
                    <!--S-12405:Actions & Approvals adjustments - Added customer name & baseline below in the class for the filter to function -->
                        <tr class="{{ record.customer_unit.name|safe|replace:'& _'|replacewhitespace:'-_' }} {{ record.customer_name }} {{ record.baseline }}">
                            <td><input class="inprocess" type="checkbox" data-index="{{ record.id }}"/></td>
                            <td></td>
                            <td><a href="{% url 'bomconfig:search' %}?link={{ record.pk|searchscramble }}">{{ record.configuration_designation }} </a></td>
                            <td></td>
                            <td>{{ record.program|default:"------" }}</td>
                            <td></td>
                            <td>{% if record.baseline.title != 'No Associated Baseline' %}{{ record.baseline|default:"(Not baselined)" }}{% else %}(Not baselined){% endif %}</td>
                            <td></td>
                            <td>{{ record.person_responsible }}</td>
                            <td></td>
                            <td>{{ record.bom_request_type.name }}</td>
                            <td></td>
                            <td>{{ record.customer_unit.name }}</td>
                            <td></td>
                            <td>{{ record.customer_name|default:"" }}</td>
                            {% with record.last_disapproved_tracker as tracker %}
                                {% if tracker %}
                            <td></td>
                                    {% for level in approval_seq|slice:"1:" %}
                            <td class="approval"><div data-id="{{ tracker.id }}" data-level="{{ level }}">
                            {% with level|add:'_approver' as approver%}
                            {% with level|add:'_approved_on' as approvedate%}
                            {% with level|add:'_denied_approval' as disapprovedate%}
                            {% if tracker|getattr:disapprovedate %}
                            <span class="glyphicon glyphicon-remove" style="color:#DD0000;"></span>
                            {% elif tracker|getattr:approvedate|date:"Y-M-D" == deaddate|date:"Y-M-D" %}
                            <span class="glyphicon glyphicon-minus"></span>
                            {% elif tracker|getattr:approver %}
                            <span class="glyphicon glyphicon-ok" style="color:#00AA00;"></span>
                            {% else %}
                            <span style="color:#FFFFFF">_</span>
                            {% endif %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            </div></td>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <style>
                td.approval{
                    transform:
                        translate(0px)
                }
                td.approval > div{
                    border: 1px black solid;
                    text-align: center;
                }
                th.rotate {
                    height:20px;
                    white-space: nowrap;
                    vertical-align: bottom;
                }
                th.rotate > div {
                    width:30px;
                    transform:
                        rotate(-65deg)
                        translate(11px, 6px)
                }
                th.rotate > div > span {
                    border-bottom: 1px solid black;
                    padding: 3px 0px;
                }

                #hintBox {
                    display: none;
                    position: absolute;
                    font-size: 10pt;
                    width: 200px;
                    background-color: rgba(0,0,0,0.9);
                    color: rgba(255,255,255,1);
                    border: 1px solid grey;
                    padding: 8px;
                    border-radius: 10px;
                    z-index: 999;
                }
            </style>
            <script>
                var approval_url = "{% url 'bomconfig:approve_info' %}";
<!--  S-12405:Actions & Approvals adjustments - Added below URL to populate CNAME list based on CU selection -->
                var listreactfill_url = "{% url 'bomconfig:list_react_fill' %}";
                var custid = {{custid}};
<!--S-12405:Actions & Approvals adjustments - Added below URL to populate baseline list based on CNAME selection -->
                var action_customername_baseline_url = "{% url 'bomconfig:action_customername_baseline' %}";
                var baselinelist = "{{baselines}}";

<!-- S-14608: Actions-In Process: Tier 1 Customer Unit/Customer name logic change - Added below condition to check
<!-- if Tier-1 customers,  then cust name filter will be hidden -->
                 if(custid == 1 || custid == 2 || custid == 3 || custid == 4){
                      $('#cname_filter').hide();
                 }
            </script>
            {% else %}
<!--S-14608: Actions-In Process: Tier 1 Customer Unit/Customer name logic change - Added below script to hide-->
<!-- cust name filter if no records found in any CU, since custid value is not present here to check which CU it is -->
                <script> $('#cname_filter').hide();</script>
                <h5>NO IN-PROCESS RECORDS</h5>
            {% endif %}
{% endblock %}