{% extends "BoMConfig/adminlanding.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block subcontent %}

        <link type="text/css" rel="stylesheet" href="{% static 'BoMConfig/DataTables/datatables.min.css' %}"/>
        <script type="text/javascript" src="{% static 'BoMConfig/DataTables/datatables.min.js' %}"></script>

{% if user.is_authenticated %}
 <div id="main-body">
     {% if user|has_group:"BOM_PSM_Tool_Administrator" or user|has_group:"BOM_PSM_User_Administrator" %}
     <br>
     <button id="addradiofreqband" class="btn btn-primary" type="button" name="add" value="add" >New Radio Frequency/Band</button>
     <h3 id="title"><u>Select a Radio Frequency/Band to edit </u></h3>

     {% if errors %}
        <div style="height:50px;" class="messageblock {% if message_type_is_error %}errorblock{% else %}successblock{% endif %}">
        {% for error in errors %}
        <p style="margin-top:-15px;">{{ error }}</p>
        {% endfor %}
        </div>
    {% endif %}
    <div id="containerdiv">
    <br>
<!--D-04685-Error with Band/Frequency:- Changed the width from 50% to 100% since combined both tables into one -->
    <div id="radiofreqcont" class="container" style="width: 100%; float: left;">
     <table id="tableradiofreqband" class="display" style="width: 100%">
        <thead>
        <!--D-04685-Error with Band/Frequency:- Added Radio Band as a column too as it is a single table now -->
                <tr>
                   <th>Radio Frequency</th>
                   <th>Radio Band</th>
                </tr>
            </thead>
            <tbody id="admin_radiofreq">
                {% for rf,rb in radio_freq_band %}
                <tr>
                     <td>
                         <div value='{{rf}}' onclick="messageToModalAdmin('Change Radio Frequency/Band',
                     function(source){
                        $('#mynewModal').modal('show');
                    },this,'{{ rf }}','{{ rb }}','{{rb.id}}')">{{ rf }} </div>
                     </td>
                     <td><div value='{{rb}}' onclick="messageToModalAdmin('Change Radio Frequency/Band',
                     function(source){
                        $('#mynewModal').modal('show');
                    },this,'{{ rf }}','{{ rb }}','{{rb.id}}')">{{rb}}</div></td>
                </tr>
                {% endfor %}

            </tbody>
     </table>
    </div>

    </div>

     <div class="modal fade" id="mynewModal" role="dialog" data-backdrop="static" data-keyboard="false">
         <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content" style="background: none; box-shadow: none; border: none">
                    <div class="modal-body">
                        <p align="middle"><img src="{% static 'BoMConfig/ajax-loader.gif' %}" align="middle"/></p>
                    </div>
                </div>
            </div>
         <div id="messageModalAdmin" class="modal fade"  role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                         <h4></h4>
                    </div>
                    <div class="modal-body">
                        <label>Radio Frequency: </label>
                        <input id ="radiofreq" class="headerradiofreqband" type="text" name="inputradiofreq" />
                        <br>
                        <br>
                        <label style="padding-left: 35px"> Radio Band: </label>
                        <input id ="radioband" class="headerradiofreqband" type="text" name="inputradioband" />
                    </div>
                    <div class="modal_footer" style="text-align: right;padding: 10px; padding-top: 25px">
                        <button id="btndelete" class="modal_delete btn btn-danger" style="display:none; float:left; margin-left:10px;">Delete</button>
                        <button id="btnsave" class="modal_submit btn btn-primary" disabled>Save</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
        </div>

     <script type="text/javascript">
      <!--D-07815: Catalog tab not highlighted when it is selected - added below line as highlighting was missing in admin dropdown page-->
     $('button[value="dropdown"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
     $('#addradiofreqband').click(function(){
        document.getElementById("btnsave").disabled = true;
        document.getElementById('btndelete').style.display ='none';
                    messageToModalAdmin('Add Radio Frequency/Band',
                     function(source){
                        $('#mynewModal').modal('show');
                    },this,'','','');
                    document.getElementById('radiofreq').value = '';
                    document.getElementById('radioband').value = '';
     });

<!--D-04685-Error with Band/Frequency:- Added below function to remove space at the beginning of the string(left trim)-->
     function ltrim(str) {
          if(str == null) return str;
          return str.replace(/^\s+/g, '');
     }

     function messageToModalAdmin(title, message, callback, radiofreqnameval, radiobandnameval, radiofreqbandid){

            if(radiofreqnameval){      //For Edit: If clicked from Radio Frequency table
                document.getElementById('btndelete').style.display ='block';
                document.getElementById("btnsave").disabled = true;
                document.getElementById('radiofreq').value = radiofreqnameval;
            }

            if(radiobandnameval){      //For Edit: If clicked from Radio Band table
                document.getElementById('btndelete').style.display ='block';
                document.getElementById("btnsave").disabled = true;
                document.getElementById('radioband').value = radiobandnameval;
            }

            $('#messageModalAdmin .modal-header h4').text(title);
            $('#messageModalAdmin .modal-body').html(message);
            <!--$('#messageModalAdmin .modal-body .headerradiofreqband').html(radiofreqnameval);-->
            $('.modal_submit').off('click');

            $('#radiofreq').keyup(function(){
  <!--D-04685-Error with Band/Frequency:- Added below line to remove the space at the begininning of string in radio frequency input field -->
                  $('#radiofreq').val(ltrim($('input[name="inputradiofreq"]').val()));
                  document.getElementById("btnsave").disabled = false;
                  document.getElementById("btndelete").disabled = false;
  <!--D-04685-Error with Band/Frequency:- Added last 2 conditions to check and disable the buttons if space is present in the textfield-->
                  if($('#radiofreq').val()=='' || $('#radioband').val()=='' || $('#radiofreq').val()==' ' || $('#radioband').val()==' '  ){
                     document.getElementById("btnsave").disabled = true;
                     document.getElementById("btndelete").disabled = true;
                  }
            });

             $('#radioband').keyup(function(){
  <!--D-04685-Error with Band/Frequency:- Added below line to remove the space at the begininning of string in radio band input field -->
                  $('#radioband').val(ltrim($('input[name="inputradioband"]').val()));
                  document.getElementById("btnsave").disabled = false;
                  document.getElementById("btndelete").disabled = false;
  <!--D-04685-Error with Band/Frequency:- Added last 2 conditions to check and disable the buttons if space is present in the textfield-->
                  if($('#radiofreq').val()=='' || $('#radioband').val()=='' || $('#radiofreq').val()==' ' || $('#radioband').val()==' '){
                     document.getElementById("btnsave").disabled = true;
                     document.getElementById("btndelete").disabled = true;
                  }
            });

            $('.modal_submit').click(function(){
                if(radiofreqnameval == '' && radiobandnameval == '' ){      //for add
                        process(1,'');
                }else{                     //for edit
                        process(2,radiofreqbandid);
                }
                $('#messageModalAdmin').modal('hide');

            });
            $('.modal_delete').click(function(){
                     process(3,radiofreqbandid);
                $('#messageModalAdmin').modal('hide');
                if(callback != undefined) {
                    callback.apply(this, params);
                }
            });
            $('#messageModalAdmin').modal('show');
     }

     function process(operval,radiofreqbandid){
       var radiofreqval = document.getElementById("radiofreq").value;
       var radiobandval = document.getElementById("radioband").value;
            $('#myModal').modal('show');

            if(operval == '1'){
                $.ajax({
                    url: addradiofreqband_url,
                    type: "POST",
                    data: {
                        radiofreq:radiofreqval,
                        radioband:radiobandval,
                    },
                    headers:{
                        'X-CSRFToken': getcookie('csrftoken')
                    },
                    success: function(data) {
                        if(data){
                            location.href = data;
                        } else {
                            location.reload(true);
                        }
                    },
                    error: function(xhr, status, error){
                        $('#myModal').modal('hide');
                        messageToModal('Submission Error','The following error occurred during submission:<br/>' +
                            status + ": " + error + '<br/>Please try again or contact a tool admin.', function(){});
                    }
                });
               }else if(operval == '2'){
                 $.ajax({
                    url: editradiofreqband_url,
                    type: "POST",
                    data: {
                        radiofreq : radiofreqval,
                        radioband : radiobandval,
                        radiofreqbandid : radiofreqbandid
                    },
                    headers:{
                        'X-CSRFToken': getcookie('csrftoken')
                    },
                    success: function(data) {
                        if(data){
                            location.href = data;
                        } else {
                            location.reload(true);
                        }
                    },
                    error: function(xhr, status, error){
                        $('#myModal').modal('hide');
                        messageToModal('Submission Error','The following error occurred during submission:<br/>' +
                            status + ": " + error + '<br/>Please try again or contact a tool admin.', function(){});
                    }
                });
               }else{
                 $.ajax({
                    url: deleteradiofreqband_url,
                    type: "POST",
                    data: {
                        radiofreqbandid : radiofreqbandid
                    },
                    headers:{
                        'X-CSRFToken': getcookie('csrftoken')
                    },
                    success: function(data) {
                        if(data){
                            location.href = data;
                        } else {
                            location.reload(true);
                        }
                    },
                    error: function(xhr, status, error){
                        $('#myModal').modal('hide');
                        messageToModal('Submission Error','The following error occurred during submission:<br/>' +
                            status + ": " + error + '<br/>Please try again or contact a tool admin.', function(){});
                    }
                });
               }
     }
       var addradiofreqband_url = "{% url 'bomconfig:radiofrequencybandadd' %}";
       var editradiofreqband_url = "{% url 'bomconfig:radiofrequencybandedit' %}";
       var deleteradiofreqband_url = "{% url 'bomconfig:radiofrequencybanddelete' %}";

             $(function() {
                function reposition() {
                    var modal = $(this),
                            dialog = modal.find('.modal-dialog');
                    modal.css('display', 'block');
                    dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
                    dialog.css("margin-left", Math.max(0, ($(window).width() - dialog.width()) / 2));

                }
                $('.modal').on('show.bs.modal', reposition);
                $(window).on('resize', function() {
                    $('.modal:visible').each(reposition);
                });
            });

        $(document).ready(function(){
            var bodyHeight = $('#main-body').height();
            var max_available = bodyHeight - 1000 ;

             $('#tableradiofreqband').DataTable({
                lengthChange: false,
                scrollY: max_available,
                scrollCollapse: true,
                pageLength: 7,

            });
        });

        function form_resize(){
            var topbuttonheight = $('#action_buttons').height();
            var bodyheight = $('#main-body').height();

            var tableheight = bodyheight - (topbuttonheight + bottombuttonheight + 2);

            $('#tableradiofreqband').css("height", tableheight);
            $('#tableradiofreqband').css("display", inline-block);

        }

    </script>
     {% endif %}
 </div>
<style>
#tableradiofreqband {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 50%;
}

#tableradiofreqband td, #tableradiofreqband th{
    padding: 5px;
}

#tableradiofreqband tr:nth-child(odd){background-color: #f2f2f2;}

#tableradiofreqband tr:hover {background-color: #ddd;}

#tableradiofreqband th {
    text-align: left;
    background-color: white;
    color: black;
}
</style>

{% endif %}
{% endblock %}