{% extends "BoMConfig/adminlanding.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}

{% block subcontent %}
    <link type="text/css" rel="stylesheet" href="{% static 'BoMConfig/DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'BoMConfig/DataTables/datatables.min.js' %}"></script>


    <!-- S-05912:- Add CU filter to roles in Admin-User tab ---Added to display the Filter dropdown -->
    <div>
    <ul class="btn" style="border: none; padding: 5px 0 0 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="cu_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Customer <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for customer in customer_list %}
                    <li><a onclick="cust_filter('{{ customer }}');">{{ customer }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <h3 id="title"><u>Select a user to edit</u></h3>
    {% if errors %}
    <div class="messageblock {% if message_type_is_error %}errorblock{% else %}successblock{% endif %}">
        {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div id="table_wrapper">
        <table id="admin_user_change">
            <thead>
             <!-- S-05912:- Add CU filter to roles in Admin-User tab ---Added to assign the rows to the customer class -->
                <tr> {# class="{% for customer in customer_list %}{{ customer|replace:"& _"|replacewhitespace:"-_" }} {% endfor %}" #}
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Email address</th>
                    <th>Customer Unit</th>
                    <th>Last Login</th>
                </tr>
            </thead>
            <tbody>
                {% for userin in usercu %}
                <tr class="{{ userin.customer.name|safe|replace:'& _'|replacewhitespace:'-_' }}">
                    <td><a href="{% url 'bomconfig:userchange' userin.user.id %}">{{ userin.user.username }}</a></td>
                    <td><a href="{% url 'bomconfig:userchange' userin.user.id %}">{{ userin.user.first_name }}</a></td>
                    <td><a href="{% url 'bomconfig:userchange' userin.user.id %}">{{ userin.user.last_name }}</a></td>
                    <td><a href="{% url 'bomconfig:userchange' userin.user.id %}">{{ userin.user.email }}</a></td>
                    <td><a href="{% url 'bomconfig:userchange' userin.user.id %}">{{ userin.customer.name }}</a></td>
                    <td>{{ user.last_login|date:"N j Y,  H:i" }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% if perms.auth.add_user %}<button class="btn btn-primary" type="button" name="add" value="add" onclick="window.document.location = '{% url 'bomconfig:useradd' %}'">New User</button>{% endif %}
    </div>
    <style type="text/css">
        table.dataTable tr.odd {
            background-color: #dffaff;
        }
    </style>
    <script type="text/javascript">

    <!-- S-05912:- Add CU filter to roles in Admin-User tab--- Added to function the filter dropdown -->
        function cust_filter(customer){
            if(customer !== 'All') {
                $('#cu_filter').html(customer +" <span class=\"caret\"></span>");
            } else {
                $('#cu_filter').html('Customer <span class="caret"></span>');
            }
            updateFilters();
            }

            function updateFilters(){
            var customer = $('#cu_filter').text().trim().replace(/&/g, "_").replace(/ /g, '-_');

            $('tbody tr').show();

            var rows = $('#admin_user_change tbody tr').toArray();

            for (var row in rows) {
                let hide = false;
                if(customer !== "Customer" && !$(rows[row]).hasClass(customer)){
                    hide = true;
                }
                 if (hide){
                    $(rows[row]).hide();
                }
            }
        }
        var table;
        $('button[value="user"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
        function BuildTable(first_build) {
            var bodyHeight = $('#main-body').height();
            var header_height = $('#title').outerHeight(true);
            var buttons = $('#action_buttons').outerHeight(true);
            var breadcrumbs = $('#breadcrumbs').outerHeight(true);
            var max_available = bodyHeight - (header_height + buttons + breadcrumbs + 43 + 35 + 26 + 10);

            if(first_build) {
                table = $('#table_wrapper table').DataTable({
                    scrollY: max_available,
                    scrollCollapse: true,
                    pageLength: 50,
                    lengthChange: false,
                    columnDefs: [
                        {searchable: false, targets: 4},
                        {type:"date", targets: 4}
                    ]
                });
           } else {
                $('.dataTables_scrollBody').css('height',max_available + "px");
            }
        }


        $(document).ready(function(){
            $(window).load(function(){
                BuildTable(true);
            });
            $(window).resize(function(){
                BuildTable(false);
            });
        });
    </script>
{% endblock %}


