{% extends 'BoMConfig/adminlanding.html' %}
{% load staticfiles %}
{% block subcontent %}
    <h3><u>Change User</u></h3>
    {% if form.non_field_errors %}
        <div class="messageblock errorblock">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if errors %}
    <div class="messageblock {% if message_type_is_error %}errorblock{% else %}successblock{% endif %}">
        {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" style="margin-top: 20px;">
        {% csrf_token %}
        <div id="formdiv">
                       <table style="margin-bottom:20px; text-align:left; padding-bottom: 5px;}" >
                <tbody>
                    <tr>
                        <td>{{ form.signum.label_tag }}</td><td>{{ form.signum }}</td>
                        {% for error in form.signum.errors %}
                        <td class="errortext">{{ error }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{ form.first_name.label_tag }}</td><td>{{ form.first_name }}</td>
                        {% for error in form.first_name.errors %}
                        <td class="errortext">{{ error }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{ form.last_name.label_tag }}</td><td>{{ form.last_name }}</td>
                        {% for error in form.last_name.errors %}
                        <td class="errortext">{{ error }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{ form.email.label_tag }}</td><td>{{ form.email }}</td>
                        {% for error in form.email.errors %}
                        <td class="errortext">{{ error }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>{{ form.assigned_group.label_tag }}</td><td>{{ form.assigned_group }}</td>
                        {% for error in form.assigned_group.errors %}
                        <td class="errortext">{{ error }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <div style="width:75%;">
                <tr>
                    <td>{{ form.customer.label_tag }}</td>
                        {% for error in form.customer.errors %}
                        <td class="errortext">{{ error }}</td>
                        {% endfor %}
                </tr>
                <br>
                <tr>
                            {% for choice in form.customer %}
                            <div style="width:22%;display:inline-block;">{{ choice }}</div>
                            {% endfor %}
                </tr>
            </div>

        </div>
        <div id="formbuttons" style="margin-top:10px;">
            <button class="btn btn-primary" value="save" type="submit" name="action">Save</button>
            <button class="btn btn-danger" value="delete" type="submit" name="action">Delete</button>
            <button class="btn" value="cancel" type="button" onclick="location.href='{% url 'bomconfig:useradmin' %}'" name="action">Cancel</button>
        </div>
    </form>
    <script>
        $('button[value="user"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
        $(document).ready(function(){
            $(window).on('load resize',function(){
                form_resize();
            });
        });
        function form_resize(){
            var topbuttonheight = $('#action_buttons').height();
            var bottombuttonheight = $('#formbuttons').outerHeight(true);
            var bodyheight = $('#main-body').height();

            var tableheight = bodyheight - (topbuttonheight + bottombuttonheight + 6 + 20);

{#            $('#formdiv').css("height", tableheight);#}
{#            $('#formdiv').css("overflow", 'auto');#}
        }
    </script>
{% endblock %}