{% load bomconfig_customtemplatetags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration disapproval</title>
    <style>
        body {
            font-family: "Calibri", sans-serif;
            font-size: 11pt;
        }

        a, ul li {
            font-style: italic;
            font-weight: bold;
        }

        ul li {
            color: rgb(31, 73, 125);
        }
    </style>
</head>
<body>
    <p>Hello {{ recipient }},</p>
    <p>Log into the PSM Configuration & Baseline Management (PCBM) tool to review and resubmit the following configuration(s) for approval:</p>
    <ol>
        {% for record in records %}
        {% with level|add:'_comments' as comments %}
        <li>{{ record.header.configuration_designation }} - {{ record.last_disapproval_comment }} - {{ record.header.react_request }}</li>
        {% endwith %}
        {% endfor %}
    </ol>
    <p>To resubmit, check the <em>Configuration(s)</em> box and select "Submit for approval".  The <em>Configuration(s)</em> will be submitted to the respective customer for setup and sign-off.</p>
    <p>If the <em>Projected Cut-over Date</em> requires a change, discuss with the PSM CM for change within the tool and document reason and requested date change at time of "Disapprove".</p>
    <ul>
        <li>Contact PSM RBS for BoM and SAP setup questions and requirements @ <a href="mailto:CM RBS %26 M-LINK (EUS)">CM RBS & M-LINK (EUS)</a>.</li>
        <li>Contact CSR for BoM related questions where customer impacts and changes are required.</li>
        <li>Contact Commercial Price Management for all customer specific pricing questions.</li>
        <li>Contact ACR for pricing and customer questions related to the BoM.</li>
        <li>Contact Baseline Management for baseline and customer setup related questions @ <a href="mailto:PSM-Baseline@ericsson.com">PSM-Baseline@ericsson.com</a>.</li>
    </ul>
    <p>PCBM Link: <a>https://rnamsupply.internal.ericsson.com/pcbm</a></p>
</body>
</html>