{% extends "BoMConfig/template.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block content %}
<div id="main-body">
    {% if user.is_authenticated %}
        {% if viewauthorized %}
        <div id="hintBox"></div>
        <ul class="btn" style="border: none; padding: 5px 0 0 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="cu_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Customer <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for customer in customer_list %}
                    <li><a onclick="cust_filter('{{ customer }}');">{{ customer }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="btn" style="border: none; padding: 5px 0 0 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="baseline_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Baseline <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for baseline in baselines %}
                    <li><a href="#" onclick="baseline_filter('{{ baseline }}');">{{ baseline }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="btn" style="border: none; padding: 5px 0 0 0;">
            <li class="dropdown" style="list-style-type: none;">
                <button id="request_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Request Type <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for request in requests %}
                    <li><a href="#" onclick="request_filter('{{ request }}');">{{ request }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added below ul-->
        <ul class="btn" style="border: none; padding: 5px 0 0 0;">
            <button class="btn" type="button" name="action" value="hold" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:approval_hold' %}'> Show On Hold</button>
            </li>
        </ul>
        <div style="padding: 5px 5px 5px 25px; display: inline-block;">
            <input style="transform: translate(0, 4px);" type="checkbox" name="my_approvals" id="my_approvals" onchange="updateFilters();">
    <!-- S-05789: Change text in Approval page for All Customer:-Changed the text from "Only show records I can approve" to "I with my role."-->
            <label style="transform: translate(0, 3px); padding-left: 5px;" for="my_approvals">Only show records that my role can approve</label>
        </div>

        <h4>In Process/Pending</h4>
        {% if approval_wait %}
        <form id="pending_approval_action" onsubmit="return false;">
            <button id="approve" class="action_button btn btn-success" value="approve">Approve</button>
            <button id="disapprove" class="action_button btn btn-danger" value="disapprove">Disapprove</button>
            <button id="hold" class="action_button btn btn-warning" value="hold">Place on Hold</button>
            {% if skip_authorized %}
            <button id="skip" class="action_button btn btn-secondary" value="skip" style="margin-left:20px;">Skip</button>
            {% endif %}
            <table id="pending_approval_records">
                <thead>
                    <tr> {# class="{% for customer in customer_list %}{{ customer|replace:"& _"|replacewhitespace:"-_" }} {% endfor %}" #}
                        <th style="height: 160px;vertical-align: bottom;"></th>
                        <th style="height: 160px;vertical-align: bottom;">Configuration</th>
                        <th style="width:25px;"></th>
                        <th style="height: 160px;vertical-align: bottom;">Program</th>
                        <th style="width:25px;"></th>
                        <th style="height: 160px;vertical-align: bottom;">Baseline</th>
                        <th style="width:25px;"></th>
                        <th style="height: 160px;vertical-align: bottom;">BoM Request Type</th>
                        {% for name in namelist %}
                        <th class="rotate"><div><span>{{ name }}</span></div></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for record in approval_wait %}
                    {% for tracker in record.get_all_trackers.all %}
                    <tr class="{{ record.customer_unit.name|safe|replace:"& _"|replacewhitespace:"-_" }} {{ record.latesttracker.next_approval|default:'' }} config">
                        {% if tracker == record.get_all_trackers.first %}
                        <td><input class="pending" type="checkbox" data-index="{{ record.id }}"/><span>&nbsp;&nbsp;</span></td>
                        <td><a onclick="window.open('../search?link={{ record.pk|searchscramble }}&readonly=1', '{{ record.configuration_designation }}', 'left=100,top=100,menubar=no,toolbar=no,location=no,resizable=no,scrollbars=no')">{{ record.configuration_designation }}</a></td>
                        <td></td>
                        <td>{{ record.program|default:"------" }}</td>
                        <td></td>
                        <td>{{ record.baseline_impacted|default:"(Not Baselined)" }}</td>
                        <td></td>
                        <td>{{ record.bom_request_type }}</td>
                        {% else %}
                        <td></td><td></td><td></td><td></td><td></td>
                        <td style="visibility: hidden">{{ record.baseline_impacted|default:"(Not Baselined)" }}</td>
                        <td></td>
                        <td style="visibility: hidden">{{ record.bom_request_type }}</td>
                        {% endif %}
                        {% for level in approval_seq %}
                        <td class="approval"><div data-id="{{ tracker.id }}" data-level="{{ level }}">
                            {% with level|add:'_approver' as approver%}
                            {% with level|add:'_approved_on' as approvedate%}
                            {% with level|add:'_denied_approval' as disapprovedate%}
                            {% with level|add:'_hold_approval' as holddate%}
                            {% if tracker|getattr:disapprovedate %}
                            <span class="glyphicon glyphicon-remove" style="color:#DD0000;"></span>
                            <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added 2 lines-->
                            <!--D-06242: Removal from 'On-Hold' causing invalid approval: added flag to show on hold records with comments-->
                            {% elif tracker|getattr:holddate %}
                            <span class="glyphicon glyphicon-flag" style="color:#FF8C00;"></span>
                            {% elif tracker|getattr:approvedate|date:"Y-M-D" == deaddate|date:"Y-M-D" %}
                            <span class="glyphicon glyphicon-minus"></span>
                            {% elif tracker|getattr:approver %}
                            <span class="glyphicon glyphicon-ok" style="color:#00AA00;"></span>
                            {% else %}
                            <span style="color:#FFFFFF">_</span>
                            {% endif %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        </div></td>
                        {% endfor %}
                        {% if tracker.disapproved_on %}
                        <td class="approval">&nbsp;&nbsp;&nbsp;Disapproved on:&nbsp;&nbsp;{{ tracker.disapproved_on }}</td>
                        {% endif %}
                <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added below lines-->
                        {% if tracker.hold_on %}
                        <td class="approval">&nbsp;&nbsp;&nbsp;Hold on:&nbsp;&nbsp;{{ tracker.hold_on }}</td>
                        {% endif %}
                    </tr>

                    {% endfor %}
                    <tr class="{{ record.customer_unit.name|safe|replace:"& _"|replacewhitespace:"-_" }} {{ record.latesttracker.next_approval|default:'' }} config" style="height:10px;">
                        <td></td><td></td><td></td><td></td><td></td>
                        <td style="visibility: hidden">{{ record.baseline_impacted|default:"(Not Baselined)" }}</td>
                        <td></td>
                        <td style="visibility: hidden">{{ record.bom_request_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="modal fade" id="approval" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title" id="approvalLabel">Approve</h4></div>
                    <div class="modal-body">
                        {% for record in approval_wait %}
                        <div data-index="{{ record.pk }}" style="display: none;">
                            <h5 style="font-weight: bold">{{ record.configuration_designation }}</h5>
                            <form class="approve-form">
                                {% with record.latesttracker.next_approval as next_level %}
                                {% if next_level != 'brd' %}
                                <h5>Notify:</h5>
                                <!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
                                {# onchange="if(this.value=='0'){$(this).parent().find('input').show().css('visibility','visible');}else{$(this).parent().next('td').find('input').css('visibility','hidden');}" #}
                                <select data-index="{{ record.pk }}"
                                onchange="if(this.value=='0'){$(this).parent().find('input').show().trigger('afterShow');}else{$(this).parent().find('input').hide().trigger('afterHide');}"
                                >
                                    <option value="">--------</option>
                                {% for user in notify_users|getkeyvalue:next_level %}
                                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                {% endfor %}
                                    <!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
                                    <option value="0">Custom</option>
                                </select>
                                <!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
                                {# style="visibility: hidden;" #}
                                <input id="text1" type="email" data-index="{{ record.pk }}" name="{{ record.pk }}-email" style="display:none" />
                                {% elif record.inquiry_site_template and record.inquiry_site_template > 0 %}
                                <br/>
                                <p style="color:red; font-style: italic; font-weight: bold;">WARNING:</p>
                                <p>If you wish to update an existing SAP document (Inquiry / Site Template), be sure to do so before releasing this record.</p>
                                <br/>
                                {% endif %}
                                {% endwith %}
                                <h5>Comments:</h5>
                                <textarea rows="2" cols="77" style="resize:none;" data-index="{{ record.pk }}" placeholder="Optional"></textarea>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-action="approve">Submit</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="disapproval" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title" id="approvalLabel">Disapprove</h4></div>
                    <div class="modal-body">
                        {% for record in approval_wait %}
                        <div data-index="{{ record.pk }}" style="display: none;">
                            <h5 style="font-weight: bold">{{ record.configuration_designation }}</h5>
                            <form class="disapprove-form">
                                <h5>Push back to:</h5>
                                <select data-index="{{ record.pk }}">
                                {% for level in approval_seq %}
                                    {% with level|add:"_approver" as approved_level%}
                                    {% with level|add:"_approved_on" as approved_date%}
                                    {% if record.latesttracker|getattr:approved_level and record.latesttracker|getattr:approved_level != 'system' %}{#  and record.latesttracker|getattr:approved_date|date:"Y-M-D" != deaddate|date:"Y-M-D" #}
                                    <option value="{{ level }}">{{ namelist|getindex:forloop.counter0 }}</option>
                                    {% endif %}
                                    {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                                </select>
                                <h5>Comments:</h5>
                                <textarea class="required" rows="2" cols="77" style="resize:none;" data-index="{{ record.pk }}" placeholder="Required"></textarea>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-action="disapprove">Submit</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added below div-->
        <div class="modal fade" id="hold_approve" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title" id="approvalLabel">Hold</h4></div>
                    <div class="modal-body">
                        {% for record in approval_wait %}
                        <div data-index="{{ record.pk }}" style="display: none;">
                            <h5 style="font-weight: bold">{{ record.configuration_designation }}</h5>
                            <form class="hold-form">
                                <h5>Comments:</h5>
                                <textarea class="required" rows="2" cols="77" style="resize:none;" data-index="{{ record.pk }}" placeholder="Required"></textarea>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-action="hold">Submit</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <style>
            table#pending_approval_records td, table#pending_approval_records th{

            }

            table#pending_approval_records td.approval{
                transform:
                    translate(25px)
            }
            table#pending_approval_records td.approval > div{
                border: 1px black solid;
                text-align: center;
            }
            th.rotate {
                height:20px;
                white-space: nowrap;
                vertical-align: bottom;
            }
            th.rotate > div {
                width:40px;
                transform:
                    rotate(-45deg)
                    translate(45px, 25px)
            }
            th.rotate > div > span {
                border-bottom: 1px solid black;
                padding: 5px 0px;
            }

            .invalid_field {
                border: 2px solid red;
            }
        </style>
        {% else %}
        <h5>NO RECORDS PENDING APPROVAL</h5>
        {% endif %}

        {% else %}
        <h4>You do not have sufficient permissions to view this asset.</h4>
        {% endif %}
    {% else %}
    <h4>You must log in to use this function</h4>
    {% endif %}
</div>
{% if user.is_authenticated %}
    <script>
<!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
    $('#messageModal').on('keyup afterShow change', 'input[name$="-email"]', function(event){
        var test = event.target.value;
        var email_regex = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i

        if (!email_regex.test(test)){
            $(event.target).addClass('input-invalid');
        } else {
            $(event.target).removeClass('input-invalid');
        }

        if($('#messageModal .input-invalid').length > 0){
            $('.modal_submit.btn.btn-primary').attr('disabled','disabled');
        } else {
            $('.modal_submit.btn.btn-primary').removeAttr('disabled');
        }
    });

    $('#messageModal').on('afterHide', 'input[name$="-email"]', function(event){
        $(event.target).removeClass('input-invalid');

        if($('#messageModal .input-invalid').length > 0){
            $('.modal_submit.btn.btn-primary').attr('disabled','disabled');
        } else {
            $('.modal_submit.btn.btn-primary').removeAttr('disabled');
        }
    });

   $('#messageModal').on('hidden.bs.modal', function(){
        $('.modal_submit.btn.btn-primary').removeAttr('disabled');
    });

        $('a.headtitle:contains("Approvals")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
        var xhr;

        function cleanDataCheck(link){
            if (link.target == "_blank"){
                window.open(link.dataset.href);
            } else {
                window.location.href = link.dataset.href;
            }
        }

        function cust_filter(customer){
            if(customer !== 'All') {
                $('#cu_filter').html(customer +" <span class=\"caret\"></span>");
            } else {
                $('#cu_filter').html('Customer <span class="caret"></span>');
            }
            updateFilters();
        }

        function request_filter(request){
            if(request !== "All"){
                $("#request_filter").html(request + "&nbsp;<span class='caret'></span>");
            }
            else{
                $("#request_filter").html("Request Type" + "&nbsp;<span class='caret'></span>");
            }
            updateFilters();
        }

        function baseline_filter(baseline){
            if(baseline !== "All"){
                $("#baseline_filter").html(baseline + "&nbsp;<span class='caret'></span>");
            }
            else{
                $("#baseline_filter").html("Baseline" + "&nbsp;<span class='caret'></span>");
            }
            updateFilters();
        }

        function updateFilters(){
            var customer = $('#cu_filter').text().trim().replace(/&/g, "_").replace(/ /g, '-_');
            var request = $("#request_filter").text().trim();
            var baseline = $("#baseline_filter").text().trim();
            var approval = $("#my_approvals").prop("checked");

            $('tbody tr').show();

            var rows = $('#pending_approval_records tbody tr').toArray();

            for (var row in rows) {
                let hide = false;
                if(customer !== "Customer" && !$(rows[row]).hasClass(customer)){
                    hide = true;
                }

                if(baseline !== "Baseline"){
                    var baseline_row = $(rows[row]).find('td:nth-of-type(6):contains("' + baseline + '")');
                    if (!(baseline_row.length !== 0 && $(baseline_row[0]).text() == baseline)){
                        hide = true;
                    }
                }

                if(request !== "Request Type"){
                    var request_row = $(rows[row]).find('td:nth-of-type(8):contains("' + request + '")');
                    if (!(request_row.length !== 0 && $(request_row[0]).text() == request)) {
                        hide = true;
                    }
                }

                if(approval){
                    var approval_row = $(rows[row]).filter('{{ available_levels }}');
                    if(approval_row.length === 0){
                        hide = true;
                    }
                }

                if (hide){
                    $(rows[row]).hide();
                    $(rows[row]).find('input').removeAttr('checked');
                }
            }
        }

        function form_check($form){
            var valid = true;
            var $required_fields = $form.find('.required');

            $required_fields.each(function(idx, elem){
                if($(elem).val() == undefined || $(elem).val() == null || $(elem).val() == ""){
                    $(elem).toggleClass('invalid_field', true);
                    valid = false;
                } else {
                    $(elem).toggleClass('invalid_field', false);
                }
            });

            return valid;
        }

        function process(action){
            var records = [];
            var comments = [];
            var destination = [];
            <!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
            var customemail = [];

            $('.pending:checked').each(function (index, element) {
                var dataindex = element.dataset.index;
                records.push(dataindex);
                if(action === 'approve') {
                    comments.push($('.approve-form textarea[data-index="' + dataindex + '"]').val());
                } else if (action === 'disapprove') {
                    comments.push($('.disapprove-form textarea[data-index="' + dataindex + '"]').val());
                }
                <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added below else if-->
                else if (action === 'hold') {
                    comments.push($('.hold-form textarea[data-index="' + dataindex + '"]').val());
                }

                if (action === 'disapprove') {
                    destination.push($('.disapprove-form select[data-index="' + dataindex + '"]').val());
                } else if (action === 'approve') {

                    destination.push($('.approve-form select[data-index="' + dataindex + '"]').val());
                    <!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
                    if($('.approve-form input[data-index="' + dataindex + '"]').val()!=''){
                     customemail.push($('.approve-form input[data-index="' + dataindex + '"]').val());
                    }
                } else if (action === 'hold') {
                    destination.push($('.hold-form select[data-index="' + dataindex + '"]').val());
                } <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added else if-->
            });
    <!--S-05766:Identify Emails from Test System-&#45;&#45;Added to check the window URL-->
        var windowurlval = '';
        if(window.location.href.indexOf('localhost')!=-1){
            windowurlval='local';
        }else if(window.location.href.indexOf('eusaalx0054')!=-1){
            windowurlval='test';
        }else{
             windowurlval='prod';
        }

            $.ajax({
                url: "{% url 'bomconfig:approve' %}",
                type: "POST",
                data: {
                    action: action,
                    windowurl: windowurlval,            <!--S-05766:Identify Emails from Test System---sending the current window url as a parameter to back end-->
                    data: JSON.stringify(records),
                    comments: JSON.stringify(comments),
                    destinations: JSON.stringify(destination),
                    customemailid: JSON.stringify(customemail)  <!--# added for S-07353 Allow emails to be manually added to notify list. adding custom field in approval dropdown list-->
                },
                headers:{
                    'X-CSRFToken': getcookie('csrftoken'),
                },
                success: function(data) {
                    location.reload(true);
                },
                error: function(){
                    $('#myModal').modal('hide');
                    messageToModal('Approval Error','An error occurred during submission. Please try again or contact a tool admin.',function(){});
                }
            });
        }



        $(document).ready(function(){
            $('.action_button').click(function(){
                if($('.pending:checked').length > 0) {
                    if($(this).attr('id')=='approve'){
                        $('.required').toggleClass('invalid_field', false);
                        $('#approval').modal('show');
                    } else if ($(this).attr('id')=='disapprove'){
                        $('.required').toggleClass('invalid_field', false);
                        $('#disapproval').modal('show');
                    } else if ($(this).attr('id')=='hold'){
                    <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added below lines-->
                        <!--messageToModal('Confirm hold','Are you sure you wish to place the selected records on hold?', function(source){-->
                            <!--$('#myModal').modal('show');-->
                            <!--process($(source).val());-->
                        <!--}, this);-->
                        $('.required').toggleClass('invalid_field', false);
                        $('#hold_approve').modal('show');
                    } else {
                        $('#myModal').modal('show');
                        process($(this).val());
                    }
                } else {
                    messageToModal('Error','Please select at least 1 record for processing.',function(){});
                }
            });
<!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added #hold_approve -->
            $('#disapproval .btn.btn-primary, #approval .btn.btn-primary, #hold_approve .btn.btn-primary').click(function(){
                if( form_check( $(this).parent().prev().children('div[style*="display: block"], div[style=""]').children('form') ) ) {
                    $(this).closest('.modal').modal('hide');
                    $('#myModal').modal('show');
                    process($(this)[0].dataset.action);
                }
            });

            $('input.pending').change(function(){
                var index = $(this)[0].dataset.index;
                $('div[data-index="' + index + '"]').toggle();
            });

            $('.approval div').mouseenter(function(e) {
                var hovertext ='';
                if($(this).find('.glyphicon').length > 0){
                    xhr = $.ajax({
                        url: "{% url 'bomconfig:approve_info' %}",
                        type: "POST",
                        data: {
                            id: this.dataset.id,
                            level: this.dataset.level
                        },
                        headers:{
                            'X-CSRFToken': getcookie('csrftoken')
                        },
                        success: function(data) {
                            hovertext = 'By: ' + data.person + "<br/>";

                            if(data.type != 'S'){
                                hovertext += "On: " + data.date + "<br/>";
                                hovertext += 'Comments: ' + data.comments + "<br/>";
            <!-- S-08947: Add filter functionality to show only on hold records and  S-08477: Add button for On hold filter added if block -->
                                if(data.type == 'H'){
                                    $('#hintBox').css('background-color', 'rgba(255,165,0,1)');
                                }else if(data.type == 'A'){
                                    $('#hintBox').css('background-color', 'rgba(0,150,0,0.9)');
                                } else if(data.type == 'D') {
                                    $('#hintBox').css('background-color', 'rgba(150,0,0,0.9)');
                                }
                            } else {
                                $('#hintBox').css('background-color', 'rgba(0,0,0,0.9)');
                            }
                            xhr = undefined;
                            $('#hintBox').html(hovertext).show();
                            var y_location;
                            if(e.clientY + 20 + $('#hintBox').outerHeight() > $(window).height()){
                                y_location = e.pageY - 10 - $('#hintBox').outerHeight();
                            } else {
                                y_location = e.pageY + 20;
                            }
                            $('#hintBox').css('top', y_location).css('left', e.pageX-210);
                        },
                        error: function(){
                            hovertext = '<span>Could not find</span>';
                            $('#hintBox').css('background-color', 'rgba(0,0,0,0.9)');
                        }
                    });
                }

{#                if (hovertext != '') {#}
{#                    $('#hintBox').html(hovertext).show();#}
{#                    $('#hintBox').css('top', e.pageY+20).css('left', e.pageX-210);#}
{#                }#}
            }).mousemove(function(e){
                var y_location;
                if(e.clientY + 20 + $('#hintBox').outerHeight() > $(window).height()){
                    y_location = e.pageY - 10 - $('#hintBox').outerHeight();
                } else {
                    y_location = e.pageY + 20;
                }
                $('#hintBox').css('top', y_location).css('left', e.pageX-210);
            }).mouseleave(function() {
                $('#hintBox').hide();
                if (xhr !== undefined){
                    xhr.abort();
                    xhr = undefined;
                }
            });

        });
    </script>
    <style>
        #hintBox {
            display: none;
            position: absolute;
            font-size: 10pt;
            width: 200px;
            background-color: rgba(0,0,0,0.9);
            color: rgba(255,255,255,1);
            border: 1px solid grey;
            padding: 8px;
            border-radius: 10px;
            z-index: 999;
        }
    </style>
{% endif %}
{% endblock %}