{% load bomconfig_customtemplatetags %}
<table class="approval-form-data-modal">
    <thead>
        <tr>
            <th style="text-align: right; min-width: 45px;">Level</th>
            <th style="text-align: center; min-width: 70px;">Include</th>
            <th style="text-align: center; min-width: 200px;">POC</th>
        </tr>
    </thead>
    <tbody>
        {% for level in approval_levels %}
        <tr>
            <th style="text-align: right;">{{ level|replacewithspace:"_"|upper }}:</th>
            <td style="text-align: center;">
                <input title="Require {{ level|replacewithspace:"_"|upper }} approval"
                       type="checkbox"
                       name="{{ level }}"
                       value="{{ forloop.counter }}"
                       onchange="if(this.checked){$(this).parent().next('td').find('select').removeAttr('disabled');}else{$(this).parent().next('td').find('select').attr('disabled','disabled').val('').change();}"
                       {% if forloop.counter|slugify in required or forloop.counter|slugify in optional %}checked="checked"{% endif %}
                       {% if forloop.counter|slugify in required or forloop.counter|slugify in disallowed %}disabled="disabled"{% endif %}
                />
            </td>
            <td style="text-align: center;">
                {# onchange="if(this.value==='0'){$(this).parent().next('td').find('input').css('visibility','visible');}else{$(this).parent().next('td').find('input').css('visibility','hidden');}" #}
                <select name="{{ level }}-notify"
                        onchange="if(this.value==='0'){$(this).parent().next('td').find('input').show().trigger('afterShow');}else{$(this).parent().next('td').find('input').hide().trigger('afterHide');}"
                        {% if forloop.counter|slugify in disallowed or forloop.counter|slugify not in optional and forloop.counter|slugify not in required %}disabled="disabled"{% endif %}
                >
                    <option value="">--------</option>
                    {% for user in email|getkeyvalue:level %}
                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                    {% endfor %}
                    <option value="0">Custom</option>
                </select>
            </td>
            {# style="visibility: hidden;" #}
            <td style="text-align: center; padding-left:5px;"><input type="email" name="{{ level }}-email" style="display: none;"/></td>
        </tr>
        {% endfor %}
    </tbody>
</table>