{% load bomconfig_customtemplatetags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration {{ action }}</title>
    <style>
        body {
            font-family: "Calibri", sans-serif;
            font-size: 11pt;
        }

        a, ul li {
            font-style: italic;
            font-weight: bold;
        }

        ul li {
            color: rgb(31, 73, 125);
        }
    </style>
</head>
<body>
    <p>Hello {{ recipient }},</p>
    <p>Log into the PSM Configuration & Baseline Management (PCBM) tool to review{% if level == 'cpm' %}, add or adjust pricing,{% elif level == 'blm' or level == 'psm_config' %}, process needed changes,{% endif %} and approve the processing of the following configuration(s):</p>
    {% if action == 'disapprove' %}<p>NOTE: These configurations were disapproved and have been returned to you for further review.</p>{% endif %}
    <ol>
        {% for record in records %}
        <li>{{ record.header.configuration_designation }} - {{ record.header.baseline_impacted|default:"<em>(No baseline)</em>" }}{% if action == 'approve' %} - <em>{{ record.last_approval_comment|default:"(No comments)" }}</em>{% elif action == 'disapprove' %} - <em>{{ record.last_disapproval_comment }}</em>{% endif %} - {{ record.header.react_request|default:"<em>(No REACT request)</em>" }}</li>
        {% endfor %}
    </ol>

    <p>To approve, check the <em>Configuration(s)</em> box{% if level == 'psm_config' %} under Actions{% endif %} and select {% if level == 'psm_config' %}"Submit for Approval"{% else %}"Approve"{% endif %}{% if level != 'blm' %}.  The <em>Configuration(s)</em> will be submitted to the next required approver{% else %} if submitting to the customer{% endif %}.{% if level != 'psm_config' %}  If the <em>Configuration(s)</em> requires any changes or updates, "Disapprove" and select the appropriate approval team and include detailed <em>Comments</em>.{% endif %}</p>
    {% if level == 'scm1' or level == 'scm2' %}
    <p>If the <em>Projected Cut-over Date</em> requires a change, discuss with the PSM CM for change within the tool and document reason and requested date change at time of "Disapprove".</p>
    {% else %}
    <p>If there are questions, contact the appropriate owner and document {% if level == 'psm_config' %}in the <em>Comments</em> box in the REACT Request{% else %}under issues/concerns in the <em>Comments</em> box at time of "Disapprove"{% endif %}.</p>
    {% endif %}

    <ul>
        <li>Contact PSM RBS for BoM and SAP setup questions and requirements @ <a href="mailto:CM RBS %26 M-LINK (EUS)">CM RBS & M-LINK (EUS)</a>.</li>
        <li>Contact CSR for BoM related questions where customer impacts and changes are required.</li>
        <li>Contact Commercial Price Management for all customer specific pricing questions.</li>
        <li>Contact ACR for pricing and customer questions related to the BoM.</li>
        <li>Contact Baseline Management for baseline and customer setup related questions @ <a href="mailto:PSM-Baseline@ericsson.com">PSM-Baseline@ericsson.com</a>.</li>
    </ul>
    <!--S-05766:Identify Emails from Test System:&#45;&#45; Added to fetch the windowURL from server and display the appropriate link as per the environment-->
    {% if windowURL == 'local' %}
         <p>PCBM Link: <a>http://localhost:8000/pcbm/</a></p>
    {% elif windowURL == 'test' %}
         <p>PCBM Link1: <a>http://eusaalx0054.aa.us.am.ericsson.se/pcbm/</a></p>
    {% else %}
         <p>PCBM Link2: <a>https://rnamsupply.internal.ericsson.com/pcbm/</a></p>
    {% endif %}
</body>
</html>