{% extends "BoMConfig/template.html" %}
{% load bomconfig_customtemplatetags %}

{% block content %}
<div id="main-body">
	{% if user.is_authenticated %}
	{% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'BoMConfig/DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'BoMConfig/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'BoMConfig/js/baseline_mgmt.js' %}"></script>
    <div id="headersubform">
		<form enctype="multipart/form-data" method="POST" onsubmit="$('#myModal').modal('show');" action="{% url 'bomconfig:baseline' %}">
			{% csrf_token %}
			{% for field in form %}
				{{ field.label_tag }}{{ field }}
			{% endfor %}
            {% for field in form %}
                {% for error in field.errors %}
                <br/>
				<span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
			{% endfor %}
{#			<input class="btn" type="submit" value="Search" />#}
            {% if not downloadable and not detailed %}
            <ul class="btn" style="border: none; padding: 0 0 0 20px;">
                <li class="dropdown" style="list-style-type: none;">
                    <button id="cu_filter" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Customer <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="cust_filter('All');">All</a></li>
                        {% for customer in cust_list %}
                        <li><a href="#" onclick="cust_filter('{{ customer.name|replacewhitespace:"-_"|replace:"& _" }}');">{{ customer }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endif %}
        </form>
	</div>
{#         style="overflow-x: auto"#}
    <div class="table-wrapper">
        {% if tables %}
        <table id="data_table">
            <thead>
                <tr>
                    <th>Baseline</th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                </tr>
                <tr>
                {% for title in column_titles %}
                    <th {% if forloop.first %}class="header_dummy1" {% elif title == '' %}class="header_dummy2"{% endif %}>{{ title }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for table in tables %}
                {% if table.revisions %}
                {% for revision in table.revisions %}
                    <tr class="first_row {{ revision.customer }}">
                        <td class="baseline_name">
                            {% if user|has_group:"BOM_PSM_Baseline_Manager" or user|has_group:"BOM_PSM_Tool_Administrator" %}
                            <input type="checkbox" class="baselineChk" data-index="{{table.baseline_id}}" value="{{table.baseline.id}}">
                            {% endif %}
                            {% if not downloadable %}
                            <a onclick="$('#id_baseline_title').val('{{ table.baseline.id }}'); $('#headersubform form').submit();" style="cursor: pointer">
                                {{ table.baseline.title }}{% if revision.revision.version %}{% if downloadable or not downloadable and table.baseline.title != 'No Associated Baseline'  %} REV {{ revision.revision.version }}{% if revision.revision.completed_date %} {{ revision.revision.completed_date|date:"mdy" }} C{% endif %}{% endif %}{% endif %}
                            </a>
                            {% else %}
                            {{ table.baseline.title }}{% if revision.revision.version %}{% if downloadable or not downloadable and table.baseline.title != 'No Associated Baseline'  %} REV {{ revision.revision.version }}{% if revision.revision.completed_date %} {{ revision.revision.completed_date|date:"mdy" }} C{% endif %}{% endif %}{% endif %}
                            {% endif %}
                        </td>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    {% for header in revision.configs %}
                    <tr style="{% if header.configuration_status.name == 'In Process' or header.configuration_status.name == 'In Process/Pending' %}color: #22BB33;{% elif header.configuration_status.name == 'On Hold' %}color: #E82828;{% elif header.configuration_status.name != 'Active' %}color: #999999;{% endif %}"
                        class="{{ header.customer_unit|replacewhitespace:"-_"|replace:"& _" }}"
                    >
                        <td class="body_dummy1" style="visibility: hidden;">{{ table.baseline.title }}{% if revision.revision.version %} REV {{ revision.revision.version }}{% endif %}</td>
                        <td class="body_dummy2"></td>
                        {% with header.configuration.get_first_line as firstline %}
                        <td><a onclick="window.open('../search?link={{ header.pk|searchscramble }}&readonly=1', '_blank', 'left=100,top=100,height=640,width=1024,menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes')" style="cursor: pointer">{{ header.configuration_designation|default:'None' }}</a></td>
                        <td>{{ header.product_area2|default:'' }}</td>
                        <td>{{ header.configuration_status|default:'' }}</td>
                        <td>{{ header.bom_request_type }}</td>
                        <td>{{ header.program.name|default:'' }}</td>
                        <td>
                            {% if firstline and not header.pick_list %}{{ firstline.customer_number }}
                            {% elif header.pick_list %}Multiple{% endif %}
                        </td>
                        <td>{{ header.model|default:'' }}</td>
                        <td>{{ header.model_description|default:'' }}</td>
                        <td style="text-align: right;">
                            {% if not header.pick_list and header.configuration.get_first_line %}
                                {% if header.configuration.get_first_line.linepricing %}
                                    {% if header.configuration.get_first_line.linepricing.override_price %}
                                    $&nbsp;{{ header.configuration.get_first_line.linepricing.override_price|iffloatformat:'2'|default:'' }}
                                    {% else %}
                                    {% if header.configuration.get_first_line.linepricing.pricing_object.unit_price %}$&nbsp;{% endif %}{{ header.configuration.get_first_line.linepricing.pricing_object.unit_price|iffloatformat:'2'|default:'' }}
                                    {% endif %}
                                {% else %}
                                {% if header.configuration.net_value %}$&nbsp;{% endif %}{{ header.configuration.net_value|iffloatformat:'2'|default:'' }}
                                {% endif %}
                            {% else %}
                                {% if header.configuration.net_value %}$&nbsp;{% endif %}{{ header.configuration.net_value|iffloatformat:'2'|default:'' }}
                            {% endif %}
                        </td>
                        <td>{{ header.headertimetracker_set.first.created_on|date:"Y" }}</td>
                        <td>{% if header.inquiry_site_template and header.inquiry_site_template < 0 %}
                            {% if header.inquiry_site_template < -1 %}
                                {{ header.inquiry_site_template|stringformat:"i"|slice:"1:" }}(Pending Update)
                            {% else %}
                                Pending
                            {% endif %}
                        {% else %}{{ header.inquiry_site_template|default:'' }}{% endif %}</td>
                        <td>{{ header.model_replaced|default:'' }}</td>
                        <td>{{ header.change_comments|default:'' }}</td>
                        <td>{{ header.release_date|date:"m/d/Y" }}</td>
                        {% if firstline and not header.pick_list %}
                        <td>{% if firstline.condition_type == 'ZUST' %}$&nbsp;{{ firstline.amount|floatformat:'2' }}{% endif %}</td>
                        <td>{% if firstline.pcode %}{{ firstline.pcode|make_list|slice:"1:4"|join:'' }}{% endif %}</td>
                        <td>{{ firstline.plant|default:'' }}</td>
                        {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        {% endif %}
                        {% endwith %}
                    </tr>
                    {% endfor %}
                {% endfor %}
                <tr class="{{ table.baseline.customer.name|replacewhitespace:"-_"|replace:"& _" }}">
                    <td style="visibility: hidden; min-height: 18px;">{{ table.baseline.title }}{% if revision.revision.version %} REV {{ revision.revision.version }}{% endif %}</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>

            {% else %}
            <tr class="first_row {{ revision.customer }}" >
                <td class="baseline_name">
                {% if user|has_group:"BOM_PSM_Baseline_Manager" or user|has_group:"BOM_PSM_Tool_Administrator" %}
                <input type="checkbox" class="baselineChk" data-index="{{table.baseline_id}}" value="{{table.baseline.id}}">{{table.baseline.title}} (No Revision and Configuration Available)
                    {% endif %}
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>

            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            {% if downloadable %}
            <h5>No configurations found for baseline</h5>
            {% endif %}
        {% endif %}

        {% if downloadable and detailed %}
        <div id="action_buttons" style="margin-top: 5px;">
        <form id="downloadform" method="POST" onsubmit="downloadtoken();" action="{% url 'bomconfig:baselinedownload' %}">
            {% csrf_token %}
            <input id="cookie" name="file-cookie" type="hidden" value="{% random_string 10 %}"/>
            <input id="master-cust-unit" name="customer" type="hidden" value="">
            <input name="baseline" type="hidden" value="{{ tables.0.baseline.title }}"/>
            <input name="version" type="hidden" value=""/>
            <button style="display: inline" id="download" class="btn" type="button" onclick="downloadModal()">Download</button>
        </form>

        {% if user|has_group:"BOM_PSM_Baseline_Manager" or user|has_group:"BOM_BPMA_Architect" %}
        <form id="rollbackform" style="display: inline">
            {% csrf_token %}
            <input name="baseline" type="hidden" value="{{ tables.0.baseline.title }}"/>
            <button style="display: inline" id="rollback" class="btn" type="button" onclick="rollbackTest()">Rollback</button>
        </form>
        {% endif %}
        </div>

        {% elif not detailed %}
        <div id="action_buttons" style="margin-top: 5px;">
        <form id="downloadform" method="POST" onsubmit="downloadtoken();" action="{% url 'bomconfig:baselinemasterdownload' %}">
            {% csrf_token %}
            <input id="master-cust-unit" name="customer" type="hidden" value="">
            <input id="cookie" name="file-cookie" type="hidden" value="{% random_string 10 %}"/>
            <button style="display: inline" id="download" class="btn" type="button" onclick="pickCustomer()">Download</button>
            {% if user|has_group:"BOM_PSM_Baseline_Manager" or user|has_group:"BOM_PSM_Tool_Administrator" %}
            <button id="deleteBaseline" class="btn btn-danger" type="button" value="delete">Delete</button>
            {% endif %}
            </form>
        </div>
        {% endif %}
        {% else %}

        <h4>You must be logged in to access this feature</h4>
        {% endif %}
    </div>
</div>
<script>
    var revision_list = '{% for revision in tables.0.revisions %}<option value="{{ revision.revision.version }}">{{ revision.revision.version }}</option>{% endfor %}';
    var cust_list = '<option value="">All</option>{% for cust in cust_list %}<option value="{{ cust.name }}">{{ cust.name }}</option>{% endfor %}';
    var rollback_url = "{% url 'bomconfig:baselinerollback' %}";
    var rollbacktest_url = "{% url 'bomconfig:baselinerollbacktest' %}";
    var deletebaseline_url = "{% url 'bomconfig:baselinedelete' %}";
</script>

<style>
    table {
        background-color: white;
    }
    td, th {
        min-width: 50px;
        padding:0 10px;
        white-space: nowrap;
        font-size: 8pt;
    }
    #action_buttons form, #action_buttons form button {
        display: inline;
    }
</style>
<!-- end div #main-body -->
{% endblock %}