{% extends "BoMConfig/template.html" %}
{% load customtemplatetag %}
		
{% block content %}
<div id="main-body">
	{% if user.is_authenticated %}
	{% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'BoMConfig/DataTables/datatables.css' %}"/>
    <script type="text/javascript" src="{% static 'BoMConfig/DataTables/datatables.js' %}"></script>
    <div id="headersubform">
		<form enctype="multipart/form-data" method="POST" onsubmit="$('#myModal').modal('show');" action="{% url 'bomconfig:baseline' %}">
			{% csrf_token %}
			{% for field in form %}
				{{ field.label_tag }}{{ field }}
			{% endfor %}
            {% for field in form %}
                {% for error in field.errors %}
                <br/>
				<span style="color: #ff0000;">{{ error }}</span>
                {% endfor %}
			{% endfor %}
			<input type="submit" value="Search" />
		</form>
	</div>
{#         style="overflow-x: auto"#}
    <div class="table-wrapper">
        {% if tables %}
        <table id="data_table">
            <thead>
                <tr>
                    <th>Baseline</th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                </tr>
                <tr>
                {% for title in column_titles %}
                    <th {% if forloop.first %}class="header_dummy1" {% elif title == '' %}class="header_dummy2"{% endif %}>{{ title }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for table in tables %}
                {% if table.revisions %}
                {% for revision in table.revisions %}
                    <tr class="first_row">
                        <td class="baseline_name">
                            {% if not downloadable %}
                            <a onclick="$('#id_baseline_title').val('{{ table.baseline }}'); $('#headersubform form').submit();" style="cursor: pointer">
                                {{ table.baseline }}{% if revision.revision %} REV {{ revision.revision }}{% endif %}
                            </a>
                            {% else %}
                            {{ table.baseline }}{% if revision.revision %} REV {{ revision.revision }}{% endif %}
                            {% endif %}
                        </td>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    {% for header in revision.configs %}
                    <tr style="{% if header.configuration_status.name == 'In Process' or header.configuration_status.name == 'In Process/Pending' %}color: #22BB33;{% elif header.configuration_status.name == 'On Hold' %}color: #E82828;{% elif header.configuration_status.name != 'Active' %}color: #999999;{% endif %}">
                        <td class="body_dummy1" style="visibility: hidden;">{{ table.baseline }}{% if revision.revision %} REV {{ revision.revision }}{% endif %}</td>
                        <td class="body_dummy2"></td>
                        {% with header.configuration.get_first_line as firstline %}
                        <td><a onclick="window.open('../search?link={{ header.pk|searchscramble }}&readonly=1', '{{ header.configuration_designation }}', 'left=100,top=100,menubar=no,toolbar=no,location=no,resizable=no,scrollbars=no')" style="cursor: pointer">{{ header.configuration_designation|default:'None' }}</a></td>
                        <td>{{ header.configuration_status|default:'' }}</td>
                        <td>{{ header.program.name|default:'' }}</td>
                        <td>{% if firstline and not header.pick_list %}{{ firstline.customer_number }}{% elif header.pick_list %}Multiple{% endif %}</td>
                        <td>{{ header.model|default:'' }}</td>
                        <td>{{ header.model_description|default:'' }}</td>
                        <td style="text-align: right;">
                            {% if not header.pick_list and header.configuration.get_first_line %}
                                {% if header.configuration.get_first_line.linepricing %}
                                    {% if header.configuration.get_first_line.linepricing.override_price %}
                                    $&nbsp;{{ header.configuration.get_first_line.linepricing.override_price|iffloatformat:'2'|default:'' }}
                                    {% else %}
                                    {% if header.configuration.get_first_line.linepricing.unit_price %}$&nbsp;{% endif %}{{ header.configuration.get_first_line.linepricing.unit_price|iffloatformat:'2'|default:'' }}
                                    {% endif %}
                                {% else %}
                                {% if header.configuration.net_value %}$&nbsp;{% endif %}{{ header.configuration.net_value|iffloatformat:'2'|default:'' }}
                                {% endif %}
                            {% else %}
                                {% if header.configuration.net_value %}$&nbsp;{% endif %}{{ header.configuration.net_value|iffloatformat:'2'|default:'' }}
                            {% endif %}
                        </td>
                        <td>{{ header.inquiry_site_template|default:'' }}</td>
                        <td>{{ header.model_replaced|default:'' }}</td>
                        <td>{{ header.change_comments|default:'' }}</td>
                        {% if firstline and not header.pick_list %}
                        <td>{% if firstline.condition_type == 'ZUST' %}$&nbsp;{{ firstline.amount|floatformat:'2' }}{% endif %}</td>
                        <td>{% if firstline.pcode %}{{ firstline.pcode|make_list|slice:"1:4"|join:'' }}{% endif %}</td>
                        <td>{{ firstline.plant|default:'' }}</td>
                        {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        {% endif %}
                        {% endwith %}
                    </tr>
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td style="visibility: hidden; min-height: 18px;">{{ table.baseline }}{% if revision.revision %} REV {{ revision.revision }}{% endif %}</td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            {% if downloadable %}
            <h5>No configurations found for baseline</h5>
            {% endif %}
        {% endif %}
    </div>
    {% if downloadable %}
    <div id="action_buttons">
        <form id="downloadform" method="POST" onsubmit="downloadtoken();" action="{% url 'bomconfig:baselinedownload' %}">
            {% csrf_token %}
            <input id="cookie" name="file-cookie" type="hidden" value="{% random_string 10 %}"/>
            <input name="baseline" type="hidden" value="{{ tables.0.baseline }}"/>
            <input name="version" type="hidden" value=""/>
            <button id="download" type="button" onclick="downloadModal()">Download</button>
        </form>
    </div>
    {% endif %}
	{% else %}
	<h4>You must be logged in to access this feature</h4>
	{% endif %}
</div>
{% if user.is_authenticated %}
    <script>
        $('a.headtitle:contains("Baseline")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');

        var timer;
        $(document).ready(function() {
            $(window).load(function () {
                form_resize();

                $('.first_row').each(function(ind, el){
                    var next_sib = $(el).next();
                    var search_string = "";
                    while(next_sib.length > 0 && !next_sib.hasClass('first_row')){
                        $(next_sib).find('td').each(function(id, elm){
                            search_string +=  $(elm).text() + " ";
                        });
                        next_sib = $(next_sib).next();
                    }
                    var width = $(el).find('>:nth-child(2)').css('width');
                    $(el).find('>:nth-child(2)').css('display','none').css('max-width', width).text(search_string);
                });

                var table = $('#data_table').DataTable({
                    'paging': false,
                    'ordering': false,
                    'info': false,
                    'scrollX': true,
                    'scrollY': parseInt($('.table-wrapper').css("height")) - 71,
                    fixedColumns: {
                        leftColumns: 3
                    }
{#                    'search': {'smart': false}#}
{#                    'columnDefs': [#}
{#                        {#}
{#                            'searchable': false,#}
{#                            'targets': 0#}
{#                        }#}
{#                    ]#}
                });

                $('#data_table_info').css('display','none');
                $('#data_table_info').parent().css('width','0');
            });

            $(window).resize(function () {
                form_resize();
            });
        });

        function downloadModal(){
            messageToModal('Download Baseline',
                    '<label>Revision</label><select>{% for revision in tables.0.revisions %}<option value="{{ revision.revision }}">{{ revision.revision }}</option>{% endfor %}</select>',
                    function(){
                        $("#downloadform input[name='version']").val($('#messageModal .modal-body select').val());
                        $('#downloadform').submit();
                    }
            );
        }

        function downloadtoken(){
            $('#myModal').modal('show');
            timer = setInterval(function(){
                if(document.cookie.split('fileMark=').length == 2 && document.cookie.split('fileMark=')[1].split(';')[0] == $('#cookie').val()) {
                    clearInterval(timer);
                    $('#myModal').modal('hide');
                }
            },1000);
        }

        function form_resize(){
            var $header = $('#headersubform');
            var topbuttonheight = $('#action_buttons').height();
{#            var bottombuttonheight = $('#formbuttons').height();#}
            var subformheight = $header.height() + parseInt($header.css('margin-top')) + parseInt($header.css('margin-bottom'));
{#            var crumbheight = $('#breadcrumbs').height() + parseInt($('#breadcrumbs').css('margin-top')) + parseInt($('#breadcrumbs').css('margin-bottom'));#}
            var bodyheight = $('#main-body').height();

            var tableheight = bodyheight - (topbuttonheight + subformheight);

            $('.table-wrapper').css("height", tableheight);
        }

        function cleanDataCheck(link){
            window.location.href = link.dataset.href;
        }
    </script>
    <style>
        table {
            background-color: white;
        }
        td, th {
            min-width: 50px;
            padding:0 10px;
            white-space: nowrap;
            font-size: 8pt;
        }
    </style>
{% endif %}
<!-- end div #main-body -->
{% endblock %}