{% extends "BoMConfig/entrylanding.html" %}
{% load staticfiles %}
{% load bomconfig_customtemplatetags %}
{% block subcontent %}
{% if header_read_authorized %}
<div id="header-form">
    <script type="text/javascript" src="{% static 'BoMConfig/jQuery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'BoMConfig/js/config_header.js' %}"></script>
    <form id="headerform" method="POST" autocomplete="off">
        <br />
      <!--S-05787-Re-alignment of Header tab of BOM Entry page for All Customers - Added below div of buttons to show on top -->
        <div id="formbuttons">
            <input id="cancelForm" class="btn" style="width:60px; height:30px; padding:unset; background-color:#d7e6f4; color:slateblue;" type="button" value="Cancel" onclick="{% if frame_readonly %}window.close();{% else %}window.location.href='{% url 'bomconfig:index' %}';{% endif %}"/>
            {% if header_write_authorized and not frame_readonly %}
            <input id="saveexitForm" class="btn" type="button" style="width:80px; height:30px; padding:unset; background-color:#d7e6f4; color:slateblue;" value="Save & Exit"/>
            <input id="saveForm" class="btn" type="button" style="width:50px; height:30px; padding:unset; background-color:#d7e6f4; color:slateblue;" value="Save"/>
            {% endif %}
            {% if can_continue %}<input id="nextForm" class="btn" type="button" style="width:50px; height:30px; padding:unset; background-color:#d7e6f4; color:slateblue;" value="Next"/>{% endif %}
            <span  style="color: slateblue;"><span style="color: red;font-size:14pt;">*</span> = Required</span>
            {% if headerForm.instance.pk %}
            {% if not frame_readonly or user|has_group:"BOM_PSM_Baseline_Manager" or user|has_group:"BOM_BPMA_Architect" %}
            <input id="download" class="btn" type="button" style="width:65px; height:30px; padding:unset; background-color:#d7e6f4; color:slateblue;" value="Download"/>
            {% endif %}
            {% endif %}
            {% if header.configuration_status.name not in non_clonable %}
            {% if user|has_group:"BOM_PSM_" or user|has_group:"BOM_BPMA_Architect" %}
            <input id="clone" class="btn" type="button" value="Clone" style="width:55px; height:30px;  padding:unset; background-color:#d7e6f4; color:slateblue;" onclick="cloneHeader({{ header.id }});"/>
            {% endif %}
            {% endif %}
            {% if status_message %}
            <span id="statuses" style="color:red;font-size:20px;font-weight: bold;padding-left:300px;">
                {{ status_message }}
            </span>
            <script>
                setTimeout(function(){$('#statuses').fadeOut('slow')}, 5000);
            </script>
            {% endif %}
        </div>
        {% csrf_token %}
        <input id="formaction" type="hidden" name="formaction" value=""/>
        <!--<br />-->
        <!--S-05787-Re-alignment of Header tab of BOM Entry page for All Customers - Added below to show all the fields aligned in the 1st(Left) column-->
        <div id="headerformtable1" style="font-size:12px;" class="col-md-4">
            <div style="width:100%; ">
                <h5 style="width:100%; margin-left:25px; font-weight:bold;">REACT & Customer Information</h5>
            </div>
            {% for field in headerForm %}
            <table>
                <tbody>
                <tr>
                    {% if field.label == 'REACT Request' or field.label == 'BoM Request Type' or field.label == 'Customer Unit' or field.label == 'Person responsible' or field.label == 'Person Responsible' or field.label == 'Customer Name' or field.label == 'Sales Office' or field.label == 'Sales Group' or field.label == 'Sold-to Party' or field.label == 'Ship-to Party' or field.label == 'Ericsson Contract #' or field.label == 'Bill-to Party' or field.label == 'Payment Terms' %}
                        <td>{{ field.label_tag }}{% if field.field.required %}<span style="color:red;font-size:14pt;">*</span>{% endif %}</td>
                        {% if field.errors %}
                        <td >
                            <div style=" border: 2px solid red; max-width:154px; font-size:10px;  max-height:35px;">
                                {{ field }} {{ field.errors }}
                            </div>
                        </td>
                        {% else %}
                        <td>
                            <div style="">
                            {{ field }}
                            </div>
                        </td>
                        {% endif %}
                    {% endif %}
                    {% if field.label == 'REACT Request' and headerForm.configuration_status.value == 1 and header_write_authorized and not frame_readonly %}
                        <td>
                            &nbsp;&nbsp;
                            <!--<input id="searchSubmit" class="btn" type="button" value="Search" style=""/>-->
                            <!--<input id="searchSubmit" type="image" src="{% static 'BoMConfig/images/searchimg.png' %}"  width="30" height="30">-->
                            <img id="searchSubmit" src="{% static 'BoMConfig/images/searchimg.png' %}" style="width:30px;"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    {% endif %}
                </tr>
                {% if field.label in break_list %}
                    <tr><td><h3></h3></td></tr>
                {% endif %}
                </tbody>
            </table>
            {% endfor %}
        </div>
        <!--S-05787-Re-alignment of Header tab of BOM Entry page for All Customers - Added below to show all the fields aligned in the 2nd(Middle) column-->
        <div id="headerformtable2" style="font-size:12px;" class="col-md-4">
            <div style="width:100%; text-align:center;">
                <h5 style="float:left;font-weight:bold; width:100%;">Configuration Information</h5>
            </div>
            {% for field in headerForm %}
            <table>
                <tbody>
                <tr>
                    {% if field.label == 'Configuration' or field.label == 'Program' or field.label == 'Customer Designation' or field.label == 'Technology' or field.label == 'Product Area 1' or field.label == 'Product Area 2' or field.label == 'Radio Frequency' or field.label == 'Radio Band' or field.label == 'Inquiry/Site Template #' or field.label == 'Valid-from Date' or field.label == 'Valid-to Date' or field.label == 'Complete Delivery' or field.label == 'No ZipRouting'   or field.label == 'Shipping Condition'%}
                        <td>{{ field.label_tag }}{% if field.field.required %}<span style="color:red;font-size:14pt;">*</span>{% endif %}</td>
                        {% if field.errors %}
                        <td >
                            <div style=" border: 2px solid red; max-width:215px; font-size:10px;  max-height:50px;">
                                {{ field }} {{ field.errors }}
                            </div>
                        </td>
                        {% else %}
                        <td>
                            <div style="">
                            {{ field }}
                            </div>
                        </td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% if field.label in break_list %}
                    <tr><td><h3></h3></td></tr>
                {% endif %}
                </tbody>
            </table>
            {% endfor %}
        </div>
        <!--S-05787-Re-alignment of Header tab of BOM Entry page for All Customers - Added below to show all the fields aligned in the 3rd(Right) column-->
        <div id="headerformtable3" style="font-size:12px;" class="col-md-4">
            <div style="width:100%;text-align:center; ">
                <h5 style="float:right; font-weight:bold; width:100%;">Additional Information</h5>
            </div>
            {% for field in headerForm %}
            <table>
                <tbody>
                <tr>
                    {% if field.label == 'Baseline Impacted' or field.label == 'Model' or field.label == 'Model Description' or field.label == 'What Model is this replacing?' or field.label == 'Initial Revision' or field.label == 'Configuration/Ordering Status' or field.label == 'Readiness Complete (%)' or field.label == 'Pick list' or field.label == 'Projected Cut-over Date' or field.label == 'Optional Free Text Field 1' or field.label == 'Optional Free Text Field 2' or field.label == 'Optional Free Text Field 3' %}
                        <td>{{ field.label_tag }}{% if field.field.required %}<span style="color:red; font-size:14pt;">*</span>{% endif %}</td>
                        {% if field.errors %}
                        <td >
                            <div style=" border: 2px solid red; max-width:154px; font-size:10px;  max-height:35px;">
                                {{ field }} {{ field.errors }}
                            </div>
                        </td>
                        {% else %}
                        <td>
                            <div style="">
                            {{ field }}
                            </div>
                        </td>
                        {% endif %}
                    {% endif %}
                    {% if field.label == 'Baseline Impacted' and headerForm.configuration_status.value == 1 and header_write_authorized and not frame_readonly %}
                        <td>
                            &nbsp;&nbsp;
                            <input id="new_baseline" type="text" name="new_baseline" placeholder="Baseline Name" style="display:none;"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        {% elif field.label == 'Configuration/Ordering Status' and headerForm.configuration_status.value == 4 %}
                        <td>
                            <input type="text" style="border: none" value="({{ headerForm.instance.old_configuration_status.name }})" readonly/>
                        </td>
                    {% endif %}
                </tr>
                {% if field.label in break_list %}
                    <tr><td><h3></h3></td></tr>
                {% endif %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </form>
</div>

<style>
    input[type="number"]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
        -webkit-appearance: none;
        -moz-appearance: none;
        margin:0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<script>
    var reactsearch_url = "{% url 'bomconfig:reactsearch' %}";
    var listfill_url = "{% url 'bomconfig:list_fill' %}";
    var listreactfill_url = "{% url 'bomconfig:list_react_fill' %}";
    <!--D-03994-Manual override pricing fix: Added headerid and ckeck clone url-->
    var header_id = "{{ header.id }}";
    var checkclone_url = "{% url 'bomconfig:configheader' %}";
    var clone_url = "{% url 'bomconfig:configclone' %}";
    var download_url = '{% url 'bomconfig:download' %}'{% if frame_readonly %}+ '?download={{ header.id|searchscramble }}'{% endif %};
    var reactrequest_id = "#{{ headerForm.react_request.auto_id }}";
    var personresponsible_id = "#{{ headerForm.person_responsible.auto_id }}";
    var customername_id = "#{{ headerForm.customer_name.auto_id }}";
    var salesoffice_id = "#{{ headerForm.sales_office.auto_id }}";
    var salesgroup_id = "#{{ headerForm.sales_group.auto_id }}";
    var soldto_id = "#{{ headerForm.sold_to_party.auto_id }}";
    var shipto_id = "#{{ headerForm.ship_to_party.auto_id }}";
    var billto_id = "#{{ headerForm.bill_to_party.auto_id }}";
    var paymentterms_id = "#{{ headerForm.payment_terms.auto_id }}";
    var workgroup_id = "#{{ headerForm.workgroup.auto_id }}";
    var customerunit_id = "#{{ headerForm.customer_unit.auto_id }}";
    var ericssoncontract_id = "#{{ headerForm.ericsson_contract.auto_id }}";
    var alreadyDiscontinued = {{ discontinuation_done }};
<!--S-07112 - Change dropdown selection view and value:- Added below 2 variables to fetch the existing sales_group & ericsson contract # for the opened configuration-->
    var headerformsalesgroup = "{{ header.sales_group }}";
    var headerformericssoncontract = "{{ header.ericsson_contract }}";
</script>
{% else %}
<div>
    <h4>You do not have sufficient permissions to view this asset.</h4>
</div>
{% endif %}
{% endblock %}

