{% extends "BoMConfig/entrylanding.html" %}
{% load staticfiles %}
{% block subcontent %}
{% if config_read_authorized %}
    <script src="{% static 'BoMConfig/handsontable-0.30.1/dist/handsontable.full.min.js' %}"></script>
    <script src="{% static 'BoMConfig/jQuery/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" media="screen" href="{% static 'BoMConfig/handsontable-0.30.1/dist/handsontable.full.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'BoMConfig/css/jquery-ui.min.css' %}"/>
    <style>
        .handsontable .currentRow {
            background: #fff4d8;
        }

        .handsontable thead th {
            white-space: pre-line;
            height: 50px;
        }

        .smallItalics {
            font-size: 11px;
            font-style: italic;
            color: #333;
        }

        .htCommentCell:after {
            border-top-color: red;
        }

        .hidden_col > div > span {
            display: none;
        }

        .hidden_col > div {
            display: none;
        }

        .hidden_cell {
            white-space: nowrap;
        }
    </style>
    <form id="configform" method="POST" onsubmit="data_submit();">
        {% csrf_token %}
        {{ form.needs_zpru.as_hidden }}
        {{ form.net_value.as_hidden }}
        {{ form.override_net_value.as_hidden }}
        <div id="headersubform">
            <table>
                <tbody>
                    <tr>
                        <td style="width:130px;"><b>REACT Request #:</b></td>
                            <td style="border: 1px inset grey; width:180px;">{{ header.react_request }}</td>
                        <td style="width:50px;"></td>
                        <td style="width:170px;"><b>Projected Cut-over Date:</b></td>
                            <td style="border: 1px inset grey; width:100px;">{% if header.projected_cutover %}{{ header.projected_cutover }}{% endif %}</td>
                        <td style="width:50px;"></td>
                        <!--<td>{{ form.total_value.label_tag }}{{ form.total_value }}</td>-->
                        <td><label>Total Net Value ($):</label>  {{ form.total_value }}</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td style="width:200px;">{{ form.ready_for_forecast.label_tag }}{{ form.ready_for_forecast }}</td>
                        <td style="width:150px;">{{ form.PSM_on_hold.label_tag }}{{ form.PSM_on_hold }}</td>
                        <td style="width:225px;">{{ form.internal_external_linkage.label_tag }}{{ form.internal_external_linkage }}</td>
                        <td style="width:170px;"></td>
                        <td style="width:300px;">{{ form.zpru_total.label_tag }}{{ form.zpru_total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <input type="hidden" id="formaction" name="formaction" value="" />
        <div id="breadcrumbs" style="margin-top: 10px; margin-bottom: 10px;">
            <h5 id="copynote">NOTE: Data can only be copied/pasted using the Ctrl + C / Ctrl + V keyboard shortcuts</h5>
            <h5 id="view-selector">
                View Selection:
                <a id="viewall" onclick="if(!validating) {SAPVis = AttrVis = PriceVis = CustVis = BaselineVis = true; load_table();}">All</a>
                {% if config_sap_read_authorized %}
                |
                <a id="viewsap" onclick="if(!validating) {SAPVis = !SAPVis; load_table();}">SAP Doc</a>
                {% endif %}
                {% if config_attr_read_authorized %}
                |
                <a id="viewattr" onclick="if(!validating) {AttrVis = !AttrVis; load_table();}">Attributes</a>
                {% endif %}
                {% if config_price_read_authorized %}
                |
                <a id="viewprice" onclick="if(!validating) {PriceVis = !PriceVis; load_table();}">Price Links</a>
                {% endif %}
                {% if config_cust_read_authorized %}
                |
                <a id="viewcust" onclick="if(!validating) {CustVis = !CustVis; load_table();}">Customer Data</a>
                {% endif %}
                {% if config_baseline_read_authorized %}
                |
                <a id="viewbase" onclick="if(!validating) {BaselineVis = !BaselineVis; load_table();}">Baseline</a>
                {% endif %}
            </h5>
        </div>
        <div id="table-wrapper" style="overflow-y:hidden;overflow-x: hidden"><div id="datatable"></div></div>
        <div id="formbuttons">
            {% if can_previous %}<input id="prevForm" class="btn" type="button" value="Prev">{% endif %}
            <input id="cancelForm" class="btn" type="button" value="Cancel" onclick="{% if frame_readonly %}window.close(){% else %}window.location.href='{% url 'bomconfig:index' %}'{% endif %}">
            {% if not active_lock and config_write_authorized and not frame_readonly %}
            <input id="saveexitForm" class="btn" type="button" value="Save & Exit">
            <input id="saveForm" class="btn" type="button" value="Save">
            {% endif %}
            {% if can_continue %}<input id="nextForm" class="btn" type="button" value="Next"/>{% endif %}
            <input id="validateForm" class="btn" type="hidden" value="Validate">


            <span id="statuses" style="color:red;font-size:20px;font-weight: bold;padding-left:300px;">
                {% if status_message %}{{ status_message }}{% endif %}
            </span>
            {% if status_message %}
            <script>
                setTimeout(function(){$('#statuses').fadeOut('slow')}, 5000);
            </script>
            {% endif %}
            {% if not active_lock and config_write_authorized and not frame_readonly %}
{#            <input id="validate" class="btn" type="button" value="Validate" style="margin-left:500px;" title="Validate current input, prefill empty cells, and update totals."/>#}
            <span style="padding-left: 25px;">Status: </span>
            <span id="status" style="padding-left: 10px;"></span>
            {% endif %}
        </div>
    </form>

    <script type="text/javascript">
        var SAPVis, AttrVis, PriceVis, CustVis, BaselineVis;
        SAPVis = AttrVis = PriceVis = CustVis = BaselineVis = true;
        var hot;
        var header_html;
        var data = {{ data_array|safe }};
        var errors = {{ errors|safe }};
        var config_id = '{{ header.configuration_designation|default:'' }}';
        var readonly_columns = [];
        var hidden_cols = [];
        var previous_widths = [];
        var clean_form, clean_sub;
        var form_save = false;
        var validating = false;
        var valid = true;
        var firstLoad = true;
        var frame_readonly = {{ frame_readonly|lower }};
        var configuration_status = '{{ header.configuration_status.name }}';
        var next_approval = '{{ header.latesttracker.next_approval }}';
        var bom_write_auth = {{ config_bom_write_authorized|lower }};
        var sap_read_auth = {{ config_sap_read_authorized|lower }};
        var sap_write_auth = {{ config_sap_write_authorized|lower }};
        var attr_read_auth = {{ config_attr_read_authorized|lower }};
        var attr_write_auth = {{ config_attr_write_authorized|lower }};
        var price_read_auth = {{ config_price_read_authorized|lower }};
        var price_write_auth = {{ config_price_write_authorized|lower }};
        var cust_read_auth = {{ config_cust_read_authorized|lower }};
        var cust_write_auth = {{ config_cust_write_authorized|lower }};
        var baseline_read_auth = {{ config_baseline_read_authorized|lower }};
        var baseline_write_auth = {{ config_baseline_write_authorized|lower }};
        var overall_write_auth = {{ config_write_authorized|lower }};
        var is_picklist = {{ header.pick_list|lower }};
        var condition_list = {{ condition_list|safe }};
        var material_group_list = {{ material_group_list|safe }};
        var product_pkg_list = {{ product_pkg_list|safe }};
        var spud_list = {{ spud_list|safe }};
        var item_cat_list = {{ item_cat_list|safe }};
        var active_lock = {{ active_lock|lower }};
        var ajax_validate_url = "{% url 'bomconfig:ajaxvalidator' %}";
    </script>
    <script type="text/javascript" src="{% static 'BoMConfig/js/xhr_update.js' %}"></script>
    <script type="text/javascript" src="{% static 'BoMConfig/js/configuration.js' %}"></script>
{% else %}
<div>
    <h4>You do not have sufficient permissions to view this asset.</h4>
</div>
{% endif %}
{% endblock %}