{% extends "BoMConfig/pricelanding.html" %}
{% load staticfiles %}
{% block subcontent %}
    <script src="{% static 'BoMConfig/handsontable-0.20.1/dist/handsontable.full.js' %}"></script>
    <link rel="stylesheet" media="screen" href="{% static 'BoMConfig/handsontable-0.20.1/dist/handsontable.full.css' %}"/>

    <form id="headersubform"
          {% if configlines %}onsubmit="$('<input/>').attr('id','data_form').attr('type', 'hidden').attr('name','data_form')
          .attr('value',JSON.stringify(hot.getSourceData())).appendTo('#headersubform');form_save=true;"{% endif %}
          method="post">
        {% csrf_token %}
        <label for="config">Configuration</label>
        <input id="config" name="config" type="text" value="{{ config }}"/>
        <input id="initial" name="initial" type="hidden" value="{{ config }}"/>
        <button type="submit" name="action" value="search">Search</button>
        <br/>
        <label for="net_value">Net Value ($):</label>
        <input type="text" id="net_value" name="net_value" style="border:none;" readonly/>
    </form>

    <div id="table-wrapper" style="overflow-y:hidden;overflow-x: hidden;"><div id="datatable"></div></div>

    <div id="formbuttons">
        {% if configlines %}
        <button id="cancelForm" name="action" value="Cancel" onclick="window.location.href='{% url 'bomconfig:index' %}'">Cancel</button>
        <button id="saveForm" type="submit" name="action" form="headersubform" value="save">Save</button>
        {% endif %}
        {% if status_message %}
        <span id="statuses" style="color:red;font-size:20px;font-weight: bold;padding-left:50px;">
            {{ status_message }}
        </span>
        <script>
            setTimeout(function(){$('#statuses').fadeOut('slow')}, 5000);
        </script>
        {% endif %}
    </div>

    <script>
        var hot, clean_form;
        var form_save = false;

        $('button[value="config_price"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
        $(document).ready(function(){
            $(window).load(function(){
                form_resize();
                {% if configlines %}
                clean_form = JSON.stringify(hot.getSourceData());
                {% endif %}
            });

            $(window).resize(function(){
                form_resize();
            });
        });

        function form_resize(){
            var topbuttonheight = $('#action_buttons').height();
            var displayformheight = $('#display_form').height();
            var bottombuttonheight = $('#formbuttons').height();
            var subformheight = $("#headersubform").height() + parseInt($('#headersubform').css('margin-top')) + parseInt($('#headersubform').css('margin-bottom'));
            var crumbheight = $('#breadcrumbs').height() + parseInt($('#breadcrumbs').css('margin-top')) + parseInt($('#breadcrumbs').css('margin-bottom'));
            var bodyheight = $('#main-body').height();

            var tableheight = bodyheight - (subformheight + bottombuttonheight + topbuttonheight + displayformheight); //+ crumbheight);

            $('#table-wrapper').css("max-height", tableheight);
            $('#table-wrapper').css("height", tableheight);
        {% if configlines %}
            build_table();
        }

        function readonlyRenderer(instance, td, row, col, prop, value, cellProperties) {
            customRenderer(instance, td, row, col, prop, value, cellProperties);

            td.style.background = '#DDDDDD';
        }

        function customRenderer(instance, td, row, col, prop, value, cellProperties) {
            if (/<[a-zA-Z][\s\S/]*>/.test(value) === false) {
                Handsontable.renderers.TextRenderer.apply(this, arguments);
            } else {
                Handsontable.renderers.HtmlRenderer.apply(this, arguments);
            }
        }

        function calcRenderer (instance, td, row, col, prop, value, cellProperties) {
            value = parseInt(instance.getSourceDataAtCell(row, 4)) * parseFloat(instance.getSourceDataAtCell(row, 5));
            readonlyRenderer(instance, td, row, col, prop, value, cellProperties);
        }

        function build_table() {
            var headers = ['Line #','Product Number','Internal Product Number','Product Description','Order Qty','Unit Price',
                'Total Price','Manual Override for Total NET Price','Linkage','Material Group 5','HW/SW Indicator',
                'Comments (viewable by customer)','Additional Reference (viewable by customer)'];
            var container = document.getElementById('datatable');
            hot = new Handsontable(container, {
                data: {{ configlines|safe }},
                minRows: 1,
                maxRows: {{ configlines|length }},
                minCols: 13,
                maxCols: 13,
                minSpareRows:0,
                colHeaders: headers,
                cells: function(row, col, prop){
                    var cellProperties = {};

                    if(col != 5 && col != 6 && col != 7){
                        cellProperties.readOnly = true;
                        cellProperties.renderer = readonlyRenderer;
                    } else if (col == 6) {
                        cellProperties.readOnly = true;
                        cellProperties.renderer = calcRenderer;
                    } else {
                        if (row == 0 && col == 5 && {{ is_not_pick_list|lower }}){
                            cellProperties.readOnly = true;
                            cellProperties.renderer = readonlyRenderer;
                        } else {
                            if({{ pricing_write_authorized|lower }}) {
                                cellProperties.validator = function (value, callback) {
                                    if (/^\d+(?:\.\d{2})?$|^$/.test(value)) {
                                        callback(true);
                                    } else {
                                        callback(false);
                                    }
                                };
                                cellProperties.allowInvalid = false;
                                cellProperties.renderer = customRenderer;
                            } else {
                                cellProperties.readOnly = true;
                                cellProperties.renderer = readonlyRenderer;
                            }
                        }
                    }

                    cellProperties.className = 'htCenter';

                    return cellProperties;
                },
                beforeChange: function(changes, source){
                    if (changes[0][1] == 5 && {{ is_not_pick_list|lower }}) {
                        var net_total = 0;
                        for (var i = 1; i < this.countRows(); i++) {
                            net_total += parseInt(this.getSourceDataAtCell(i, 4)) * parseFloat(this.getSourceDataAtCell(i, 5));
                        }

                        net_total -= this.getSourceDataAtCell(changes[0][0], parseFloat(changes[0][1]) - 1) * parseFloat(changes[0][2]);
                        net_total += this.getSourceDataAtCell(changes[0][0], parseFloat(changes[0][1]) - 1) * parseFloat(changes[0][3]);

                        changes.push([0, "5", this.getSourceDataAtCell(0, 5), net_total]);
                    }
                },
                afterChange: function(changes, source){
                    calcValue(this);
                }
            });
            calcValue(hot);
        }

        function calcValue(instance){
            overall_total = 0;
            stated_total = 0;

            for(var i=0; i < instance.countRows(); i++){
                if (instance.getSourceDataAtCell(i, 7) != ""){
                    overall_total += parseFloat(instance.getSourceDataAtCell(i, 7));
                    if (i == 0 && {{ is_not_pick_list|lower }}){
                        break;
                    }
                } else {
                    if (i == 0 && {{ is_not_pick_list|lower }}){
                        stated_total += parseFloat(instance.getSourceDataAtCell(i, 4)) * parseFloat(instance.getSourceDataAtCell(i, 5));
                    } else {
                        overall_total += parseFloat(instance.getSourceDataAtCell(i, 4)) * parseFloat(instance.getSourceDataAtCell(i, 5));
                    }
                }
            }
            if (overall_total == 0 && stated_total != 0){
                overall_total = stated_total;
            }

            $('#net_value').val(overall_total.toFixed(2));
        }
        {% else %}
        }
        {% endif %}
    </script>
{% endblock %}