{% extends "BoMConfig/auditlanding.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block subcontent %}
<script src="{% static 'BoMConfig/handsontable-0.30.1/dist/handsontable.full.min.js' %}"></script>
<link rel="stylesheet" media="screen" href="{% static 'BoMConfig/handsontable-0.30.1/dist/handsontable.full.min.css' %}"/>

    <h4 id="title" style="margin-top:0;">Customer Part Number Audit / Search</h4>
    <form id="select-form" method="post">
        {% csrf_token %}
        <input type="hidden" id="dataForm" name="dataForm" value="" />
        <label for="customer-select">Customer Unit:</label>
        <select id="customer-select" name="customerSelect">
            <option value="" >-------</option>
        {% for customer in customer_list %}
            <option value="{{ customer.id }}"{% if customer.id == selectedCust.id %} selected{% endif %}>{{ customer.name }}</option>
        {% endfor %}
        </select>
<!--  S-12407: Customer Audit - Search/Audit adjustments :- Added below field for Customer name selection-->
        <label for="cuname">Customer Name: </label>
        <select id="cuname" name="cuname">
        <option value="" >-------</option>
        {% for cname in customername_list %}
             <option value="{{ cname }}"{% if cname == selectedCustName %} selected{% endif %}>{{ cname }}</option>
        {% endfor %}
        </select>
    </form>
    <div class="table-holder" style="display: inline-block">
        <h4>Input</h4>
        <div id="input-table"></div>
    </div>
    <div class="table-holder" style="display: inline-block">
        <h4>Output</h4>
        <div id="output-table"></div>
    </div>
    {% if user|has_group:'BOM_PSM_Baseline' or user|has_group:'BOM_BPMA_Architect' %}<div style="margin: 10px 0">
        <label for="override">Overwrite?: <input type="checkbox" form="select-form" id="override" name="override" value="true" /></label>
    </div>{% endif %}
    <div id="formbuttons" style="margin: 10px 0">
        <button id="save-button" class="btn btn-primary" value="save" type="button" form="select-form">Save</button>
    </div>

<script>
    var data = JSON.parse('{{ data|safe }}');
    var validate_url = '{% url 'bomconfig:audit_validate' %}';
    var listreactfillurl = '{% url 'bomconfig:list_react_fill' %}';
    var selectedCustName = '{{selectedCustName}}';
</script>
<script type="text/javascript" src="{% static 'BoMConfig/js/customer_audit.js' %}"></script>
{% endblock %}