{% extends "BoMConfig/auditlanding.html" %}
{% load bomconfig_customtemplatetags %}
{% load staticfiles %}
{% block subcontent %}
    <h4 style="margin-top:0;">Customer Part Number Upload</h4>
    <form method="post">
        {% csrf_token %}
        <label for="file_type">File Type:</label>
        <select id="file_type" name="file_type">
            <option value="0">------</option>
            <option value="1">BOM Report</option>
            <option value="2">IM Report</option>
        </select>
        <input type="file"/>
        <button class="btn btn-primary" type="submit" style="margin-top:10px;">Upload</button>
    </form>
    <script>
        $('button[value="upload"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
        function cleanDataCheck(link){
            window.location.href = link.dataset.href;
        }
    </script>
{% endblock %}