{% extends base_template %}
		
{% block content %}
{% if user.is_authenticated %}
<div id="main-body">
    {% if header_read_authorized or config_read_authorized or toc_read_authorized or revision_read_authorized or inquiry_read_authorized or sitetemplate_read_authorized %}
    <div id="action_buttons">
		{% if header_read_authorized %}<button class="btn" type="button" name="action" value="header" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configheader' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Header</button>{% endif %}
		{% if config_read_authorized %}<button class="btn" type="button" name="action" value="config" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:config' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Configuration</button>{% endif %}
        {% if toc_read_authorized %}<button class="btn" type="button" name="action" value="toc" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configtoc' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Table of Contents</button>{% endif %}
		{% if revision_read_authorized %}<button class="btn" type="button" name="action" value="revision" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configrevision' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Revisions</button>{% endif %}
        {% if inquiry_read_authorized %}<button class="btn" type="button" name="action" value="inquiry" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configinquiry' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Inquiry</button>{% endif %}
        {% if sitetemplate_read_authorized %}<button class="btn" type="button" name="action" value="sitetemp" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configsite' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Site Template</button>{% endif %}
	</div>
    {% block subcontent %}{% endblock %}
    {% else %}
    <h4>You do not have sufficient permissions to view this asset.</h4>
    {% endif %}
    <script>
        $('a.headtitle:contains("BoM Entry")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc')
    </script>
    <style>
        #action_buttons button:hover {
            background-color: #cccccc;
        }
        {% if frame_readonly %}
        #copynote {
            display: none
        }
        {% endif %}
    </style>
</div>
<script>
    $(document).ready(function(){
        $(window).load(function(){
            $.ajax({
                type: "POST",
                async: false,
                headers:{
                    'X-CSRFToken': getcookie('csrftoken')
                },
                url: "{% url 'bomconfig:initlock' %}"
            });
        });
    });
</script>
{% else %}
<div>
    <h4>You must log in to use this function</h4>
</div>
{% endif %}
{% endblock %}