{% extends base_template %}
{% load staticfiles %}
{% load bomconfig_customtemplatetags %}
{% block content %}
{% if user.is_authenticated %}
{% if frame_readonly %}
<div id="prog_chev" style="overflow-x: hidden; white-space: nowrap;">
    <div class="start_chev" style="display:inline; position: relative;">
        {% if header.configuration_status.name != 'In Process' %}
        <img src="{% static 'BoMConfig/images/ActiveStart.png' %}" style="width:97px; border-radius: 30px 0 0 30px;"/>
        {% else %}
        <img src="{% static 'BoMConfig/images/InworkStart.png' %}" style="width:97px; border-radius: 30px 0 0 30px;"/>
        {% endif %}
        <span style="color:white; position: absolute; left:30px; top:-2px;">PSM</span>
    </div>

    {% if header.configuration_status.name == 'In Process' or header.old_configuration_status.name == 'In Process' %}
    {% with header.latesttracker.get_class.all_chevron_levels as levels %}
    {% for level in levels %}
    <div class="chev" style="display:inline; position: relative; left: {{ -30|multiply:forloop.counter }}px;">
        <img src="{% static 'BoMConfig/images/InactiveChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        <span style="color:white; position: absolute; left:30px; top:-2px;">{{ level }}</span>
    </div>
    {% endfor %}
    {% endwith %}
    {% elif header.configuration_status.name != 'In Process/Pending' and header.old_configuration_status.name != 'In Process/Pending' %}
    {% with header.latesttracker.chevron_levels as levels %}
    {% for level in levels %}
    <div class="chev" style="display:inline; position: relative; left: {{ -30|multiply:forloop.counter }}px;">
        <img src="{% static 'BoMConfig/images/ActiveChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        <span style="color:white; position: absolute; left:30px; top:-2px;">{{ level }}</span>
    </div>
    {% endfor %}
    {% endwith %}
    <!--D-06454: Chevrons not showing correct coloring when view only on On Hold records: Added below elif block for on-hold chevron in approval page-->
    {% elif header.configuration_status.name == 'On Hold' and header.old_configuration_status.name == 'In Process/Pending' %}
    {% with header.latesttracker.chevron_levels as levels %}
    {% with header.latesttracker.hold_level as current_hold_level %}
    {% for level in levels %}
    <div class="chev" style="display:inline; position: relative; left: {{ -30|multiply:forloop.counter }}px;">
        {% if levels|getindexof:current_hold_level > forloop.counter0 %}
        <img src="{% static 'BoMConfig/images/ActiveChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        {% elif levels|getindexof:current_hold_level == forloop.counter0 %}
        <img src="{% static 'BoMConfig/images/InworkChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        {% else %}
        <img src="{% static 'BoMConfig/images/InactiveChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        {% endif %}
        <span style="color:white; position: absolute; left:30px; top:-2px;">{{ level }}</span>
    </div>
    {% endfor %}
    {% endwith %}
    {% endwith %}
    {% else %}
    {% with header.latesttracker.chevron_levels as levels %}
    {% with header.latesttracker.next_chevron as current_level %}
    {% for level in levels %}
    <div class="chev" style="display:inline; position: relative; left: {{ -30|multiply:forloop.counter }}px;">
        {% if levels|getindexof:current_level > forloop.counter0 %}
        <img src="{% static 'BoMConfig/images/ActiveChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        {% elif levels|getindexof:current_level == forloop.counter0 %}
        <img src="{% static 'BoMConfig/images/InworkChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        {% else %}
        <img src="{% static 'BoMConfig/images/InactiveChev.png' %}" style="width:97px;"/> <!-- position:relative; left:-7%; -->
        {% endif %}
        <span style="color:white; position: absolute; left:30px; top:-2px;">{{ level }}</span>
    </div>
    {% endfor %}
    {% endwith %}
    {% endwith %}
    {% endif %}

    <div class="end_chev" style="display:inline; position: relative; left: -20px;">
        {% if header.configuration_status.name|slice:':10' != 'In Process' and header.old_configuration_status.name|slice:':10' != 'In Process' %}
        <img src="{% static 'BoMConfig/images/ActiveFinal.png' %}" style="width:97px;"/> <!-- position:relative; left:-9%; -->
        {% else %}
        <img src="{% static 'BoMConfig/images/InactiveFinal.png' %}" style="width:97px;"/>
        {% endif %}
        <span style="color:white; position: absolute; left:30px; top:-2px;">Active</span>
    </div>

    {% if header.configuration_status.name == 'On Hold' %}
    <div class="on_hold_bar">
        <span style="color:white; position: absolute; left:30px;">On Hold</span>
    </div>
    {% endif %}
</div>
{% endif %}
<div id="main-body">
    {% if header_read_authorized or config_read_authorized or toc_read_authorized or revision_read_authorized or inquiry_read_authorized or sitetemplate_read_authorized %}
    <div id="action_buttons" style="margin: 5px 0;">
		{% if header_read_authorized %}<button class="btn" type="button" name="action" value="header" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configheader' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Header</button>{% endif %}
		{% if config_read_authorized %}<button class="btn" type="button" name="action" value="config" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:config' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Configuration</button>{% endif %}
        {% if toc_read_authorized %}<button class="btn" type="button" name="action" value="toc" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configtoc' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Table of Contents</button>{% endif %}
		{% if revision_read_authorized %}<button class="btn" type="button" name="action" value="revision" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configrevision' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Revisions</button>{% endif %}
        {% if inquiry_read_authorized %}<button class="btn" type="button" name="action" value="inquiry" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configinquiry' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Inquiry</button>{% endif %}
        {% if sitetemplate_read_authorized %}<button class="btn" type="button" name="action" value="sitetemp" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configsite' %}{% if frame_readonly %}?id={{ header.id }}&readonly=1{% endif %}'>Site Template</button>{% endif %}
	</div>
    {% block subcontent %}{% endblock %}
    {% else %}
    <h4>You do not have sufficient permissions to view this asset.</h4>
    {% endif %}
    <script>
        $('a.headtitle:contains("BoM Entry")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc')
    </script>
    <style>
        #action_buttons button:hover {
            background-color: #cccccc;
        }

        td {
            padding: 0 0 1px 0;
        }
        {% if frame_readonly %}
        #copynote {
            display: none
        }

        .on_hold_bar {
            display: inline;
            position: absolute;
            left: 60px;
            top: 40px;
            height: 20px;
            background-color: rgba(225, 35, 30, 0.75)
        }
        {% endif %}
    </style>
</div>
<script>
    $(document).ready(function(){
        $(window).load(function(){
            $.ajax({
                type: "POST",
                async: false,
                headers:{
                    'X-CSRFToken': getcookie('csrftoken')
                },
                url: "{% url 'bomconfig:initlock' %}"
            });
        });

        $('.chev span').each(function(idx, elem){
            var width = 53.5 - ($(this).width()/2);
            $(elem).css('left', width + 'px');
        });

        $('.end_chev').css('left', (-30 * $('.chev').size() - 15) + 'px');

        $('.on_hold_bar').css('width',
                function(idx, old_val){
                    var total = 0;

                    $('[class$="chev"]').each(function(sub_idx, elem){
                        total += $(elem).width();
                    });

                    total += parseInt($('.end_chev').css('left'));
                    total -= 120;

                    return total;
                }
        );

        $('.on_hold_bar span').css('left', ($('.on_hold_bar').width()/2 - $('.on_hold_bar span').width()/2) + 'px');
    });
</script>
 <!-- S-07205 Matomo implementation -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//138.85.180.81/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '12']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% else %}
<div>
    <h4>You must log in to use this function</h4>
</div>
{% endif %}
{% endblock %}