{% block footer %}
<div id="main-footer" class="hidden-xs container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3">
			<h4>Support</h4>
			<p>Employee Service<p>
			<p>My Support & Error Reporting<p>
			<p>Online Support 24/7<p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<h4>HR Support - HR Direct</h4>
			<p/>
			<p/>
			<p>Contact us with external phone</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<h4>Security Support</h4>
			<p>Emergency: +46 8 24 10 10</p>
			<p>Security Incidents</p>
			<p>Violations Reporting</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<h4>Other Sites</h4>
			<p><a href="http://www.ericsson.com">Ericsson.com</a></p>
			<p><a href="http://www.ericsson.com">Extranet</a></p>
			<p><a href="http://www.ericsson.com">The Networked Society Blog</a></p>
		</div>
	</div>
</div>
<!-- div id="main-footer" -->
{% endblock %}