{% extends "BoMConfig/template.html" %}
		
{% block content %}
<div id="main-body" style="margin-top:10px;">
	<h4 style="margin-top:0;">ALERTS</h4>
	{% if latest_alerts %}
		{% for alert in latest_alerts %}
			<p style="color:red">{% if alert.Title %}<strong>{{alert.Title}}: </strong>{% endif %}{{alert.Text}}</p>
		{% endfor %}
	{% else %}
		<p>No recent alerts</p>
	{% endif %}
	<h4>RECENT NEWS</h4>
	{% if latest_news %}
		{% for news in latest_news %}
			<p><strong style="color:red;">{{news.Title}}: </strong>{{news.Text}}</p>
		{% endfor %}
	{% else %}
		<p>No recent news items</p>
	{% endif %}
</div>
<script>
    function cleanDataCheck(link){
        if (link.target == "_blank"){
            window.open(link.dataset.href);
        } else {
            window.location.href = link.dataset.href;
        }
    }
</script>
<!-- end div #main-body -->
{% endblock %}