{% extends "BoMConfig/template.html" %}
{% load bomconfig_customtemplatetags %}

{% block content %}
{% if user.is_authenticated %}
<div id="main-body">
    {% if pricing_read_authorized %}
    <div id="action_buttons" style="margin: 5px 0;">
        <button class="btn" type="button" name="action" value="part_price" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:pricing' %}'>Unit Price Mgmt</button>
		<button class="btn" type="button" name="action" value="config_price" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:configpricing' %}'>Configuration Price Mgmt</button>
		<button class="btn" type="button" name="action" value="price_report" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:basepricing' %}'>Pricing Overview</button>
        {% if pricing_write_authorized %}
        <button class="btn" type="button" name="action" value="price_erosion" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:erosionpricing' %}'>Pricing Erosion</button>
        {% endif %}
        <!-- S-11537: Multiconfig sub tab UI changes:- Added below to show the multi config button in the pricing page  -->
        {% if user|has_group:"BOM_Pricing_Price_Manager" %}
        <button class="btn" type="button" name="action" value="multi_config" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:multiconfigpricing' %}'>Multi Configuration</button>
        {% endif %}
        <!--S-11541: Upload - pricing for list of parts in pricing tab: Added a new button Price upload-->
        {% if user|has_group:"BOM_Pricing_Price_Manager" or user|has_group:"BOM_Pricing_Price_Management_Manager" or user|has_group:"BOM_Pricing_Price_Specialist" or user|has_group:"BOM_PSM_Baseline_Manager" %}
        <button class="btn" type="button" name="action" value="price_upload" onclick="cleanDataCheck(this);" data-href='{% url 'bomconfig:priceupload' %}'>Price Upload</button>
	    {% endif %}
	</div>
    {% block subcontent %}{% endblock %}
    {% else %}
    <h4>You do not have sufficient permissions to view this asset.</h4>
    {% endif %}
    <script>
        $('a.headtitle:contains("Pricing")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');

        function cleanDataCheck(link){
            var dirty_form = typeof(hot) != 'undefined' ? JSON.stringify(hot.getSourceData()) : undefined;
            if(typeof(clean_form) != 'undefined' && dirty_form != clean_form && !form_save){
                messageToModal('Unsaved changes detected',
                        "You have made changes to the form.  If you navigate away from this page without saving, all changes will be lost.",
                        function(){
                            if (link.target == "_blank"){
                                window.open(link.dataset.href);
                            } else {
                                window.location.href = link.dataset.href;
                            }
                        }
                );
            } else {
                if (link.target == "_blank"){
                    window.open(link.dataset.href);
                } else {
                    window.location.href = link.dataset.href;
                }
            }
        }

        $(document).ready(function(){
            $(window).on('beforeunload', function(){
                if(typeof(hot) != 'undefined') {
                    var dirty_form = JSON.stringify(hot.getSourceData());
                    if (closeButton && dirty_form != clean_form && !form_save) {
                        return "You have made changes to the form.  If you navigate away from this page without saving, all changes will be lost.";
                    }
                }
            });
        });
    </script>
    <style>
        #action_buttons button:hover {
            background-color: #cccccc;
        }
    </style>
</div>
{% else %}
<div>
    <h4>You must log in to use this function</h4>
</div>
{% endif %}
{% endblock %}