{% extends "BoMConfig/template.html" %}
{% load staticfiles %}
{% load bomconfig_customtemplatetags %}
{% block content %}
<div id="main-body" xmlns="http://www.w3.org/1999/html">
    {% if user.is_authenticated %}
    <div id="action_buttons" style="margin: 5px 0;">
		<button class="btn" type="button" name="action" value="basic" onclick="window.location.href='{% url 'bomconfig:search' %}'">Basic</button>
		<button class="btn" type="button" name="action" value="advanced" onclick="window.location.href='{% url 'bomconfig:searchadv' %}'">Advanced</button>
	</div>
    <div id="search_filter">
        <h5>NOTE: The asterisk (*) character can be used as multi-character wildcard, and the question mark (?) can be used for single-character wildcard</h5>
        <form id="search_form" method="POST" onsubmit="return search()">
            {% csrf_token %}
            <div>
                <button id="search_button" class="btn" type="button" name="search_button" value="search">Search</button>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 id="header_search_title">BoM Config Header&nbsp;<span class="caret"></span></h4>
                    <ul id="header_search" style="list-style-type: none" aria-expanded="true" class="collapse in">
                        <li><label for="config">Configuration</label>
                            <input id="config" type="text" name="config"/>
                        </li>
                        <li><label for="request">REACT Request</label>
                            <input id="request" type="text" name="request"/>
                        </li>
                        <li><label for="customer">Customer Unit</label>
                            <select id="customer" name="customer">
                                <option value="">-------</option>
                                {% for cust in cust_list %}
                                <option value="{{ cust.id }}">{{ cust.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
    <!--S-11564: Search - Basic & Advanced adjustments- Added below block to add CName field-->
                        <label for="cuname" >Customer Name</label>
                        <select id="cuname" name="cuname">
                            <option value="">-------</option>
                            {% for cname in cnamelist %}
                               <option value="{{ cname.name }}">{{ cname.name }}</option>
                            {% endfor %}
                        </select>
                        <li><label for="person">Person Responsible</label>
                            <input id="person" type="text" name="person"/>
                        </li>
                        <li><label for="soldto">Sold-to Party</label>
                            <input id="soldto" type="text" name="soldto"/>
                        </li>
                        <li><label for="program">Program</label>
                            <select id="program" name="program">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for program in prog_list %}
                                <option value="{{ program|lower }}">{{ program }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="tech">Technology</label>
                            <select id="tech" name="tech">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for tech in tech_list %}
                                <option value="{{ tech.name|lower }}">{{ tech.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="prod1">Product Area 1</label>
                            <select id="prod1" name="prod1">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for prod in prod1_list %}
                                <option value="{{ prod|lower }}">{{ prod }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="prod2">Product Area 2</label>
                            <select id="prod2" name="prod2">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for prod in prod2_list %}
                                <option value="{{ prod|lower }}">{{ prod }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="freq">Radio Frequency</label>
                            <select id="freq" name="freq">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for freq in freq_list %}
                                <option value="{{ freq|lower }}">{{ freq }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="band">Radio Band</label>
                            <select id="band" name="band">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for band in band_list %}
                                <option value="{{ band.name|lower }}">{{ band.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="inquiry_site">Inquiry / Site Template Number</label>
                            <input id="inquiry_site" type="text" name="inquiry_site"/>
                        </li>
        <!--S-12372- remove readiness complete in search/avd search page :commented out from line 97-107-->
                        <!--<li><label for="readiness">Readiness Complete (%)</label>-->
                            <!--<select id="readiness_param">-->
                                <!--<option value="lt"><</option>-->
                                <!--<option value="lte">&le;</option>-->
                                <!--<option value="exact" selected>=</option>-->
                                <!--<option value="gte">&ge;</option>-->
                                <!--<option value="gt">></option>-->
                                <!--<option value="ne">&ne;</option>-->
                            <!--</select>-->
                            <!--<input id="readiness" type="number" name="readiness" min="0" max="100" maxlength="3"/>-->
                        <!--</li>-->
                         <!--S-11548: Search - Advanced Search sub-tab changes Changed label from Baseline Impacted-->
                        <li><label for="base_impact">Catalog Impacted</label>
                            <select id="base_impact" name="base_impact">
                                <option value="">-------</option>
                                <option value="n/a">Any</option>
                                {% for base in baseline_list %}
                                <option value="{{ base.title }}">{{ base.title }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><label for="model">Model</label>
                            <input id="model" type="text" name="model"/>
                        </li>
                        <li><label for="model_desc">Model Description</label>
                            <input id="model_desc" type="text" name="model_desc"/>
                        </li>
                        <li><label for="init_rev">Initial Revision</label>
                            <input id="init_rev" type="text" name="init_rev"/>
                        </li>
                        <li><label for="status">Configuration/Ordering Status</label>
                            <select id="status" name="status">
                                <option value="n/a">Any</option>
                                {% for status in status_list %}
                                <option value="{{ status.name|lower|replacewhitespace:"_" }}">{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4 id="entry_search_title">BoM Config Entry&nbsp;<span class="caret"></span></h4>
                    <ul id="entry_search" style="list-style-type: none" aria-expanded="true" class="collapse in">
                        <li><label for="prod_num">Product Number</label>
                            <input id="prod_num" type="text"/>
                        </li>
                        <li><label for="contextID">Context ID</label>
                            <input id="contextID" type="text"/>
                        </li>
                        <li><label for="prod_desc">Product Description</label>
                            <input id="prod_desc" type="text"/>
                        </li>
                        <li><label for="cust_num">Customer Number</label>
                            <input id="cust_num" type="text"/>
                        </li>
                      <!--Added for S-05767:Addition of Second Cust No. in advance search filter -->
                        <li><label for="sec_cust_num">Second Customer Number</label>
                            <input id="sec_cust_num" type="text"/>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4 id="revision_search_title">BoM Config Revision&nbsp;<span class="caret"></span></h4>
                    <ul id="revision_search" style="list-style-type: none" aria-expanded="true" class="collapse in">
                        <!--S-11548: Search - Advanced Search sub-tab changes Changed label from Baseline Impacted-->
                        <li><label for="base_rev">Catalog Revision</label>
                            <input id="base_rev" type="text"/>
                        </li>
                        <li>
                            <label for="latest_only">Latest Revision Only</label>
                            <input type="checkbox" id="latest_only" value=1/>
                        </li>
                        <li><label for="release">Release Date</label>
                            <select id="release_param">
                                <option value="lt"><</option>
                                <option value="lte">&le;</option>
                                <option value="exact" selected>=</option>
                                <option value="gte">&ge;</option>
                                <option value="gt">></option>
                                <option value="ne">&ne;</option>
                            </select>
                            <input id="release" type="date"/>
                        </li>
                    </ul>
                </div>
            </div>


        </form>
    </div>
    <div id="search_results">
    </div>
    {% else %}
    <h4>You must log in to use this function</h4>
    {% endif %}
</div>
<link type="text/css" rel="stylesheet" href="{% static 'BoMConfig/DataTables/datatables.min.css' %}"/>
<script type="text/javascript" src="{% static 'BoMConfig/DataTables/datatables.min.js' %}"></script>
<script type="text/javascript">
    var downloadmultiurl = "{% url 'bomconfig:downloadmulti' %}";
    var searchurl = "{% url 'bomconfig:searchadv' %}";
    var reporturl = '{% url 'bomconfig:downloadresult' %}';
    var listreactfillurl = '{% url 'bomconfig:list_react_fill' %}';
</script>
<script type="text/javascript" src="{% static 'BoMConfig/js/search_advanced.js' %}"></script>
<style>
    button:disabled {
        color: #999999;
    }
</style>
{% endblock %}