{% extends "BoMConfig/template.html" %}
{% load customtemplatetags %}
{% block content %}
<div id="main-body" xmlns="http://www.w3.org/1999/html">
    {% if user.is_authenticated %}
    <div id="action_buttons">
		<button class="btn" type="button" name="action" value="basic" onclick="window.location.href='{% url 'bomconfig:search' %}'">Basic</button>
		<button class="btn" type="button" name="action" value="advanced" onclick="window.location.href='{% url 'bomconfig:searchadv' %}'">Advanced</button>
	</div>
    <div id="search_filter">
        <h5>NOTE: The asterisk (*) character can be used as multi-character wildcard, and the question mark (?) can be used for single-character wildcard</h5>
        <form id="search_form" method="POST" onsubmit="return search()">
            {% csrf_token %}
            <label for="config">Configuration</label>
            <input id="config" type="text" name="config"/>
            <label for="person">Person Responsible</label>
            <input id="person" type="text" name="person"/>
            <label for="request">BoM Request Type</label>
            <select id="request" name="request">
                <option value="">-------</option>
                {% for request in request_list %}
                <option value="{{ request.name }}">{{ request.name }}</option>
                {% endfor %}
            </select>
            <label for="customer">Customer Unit</label>
            <select id="customer" name="customer">
                <option value="">-------</option>
                {% for cust in cust_list %}
                <option value="{{ cust.name }}">{{ cust.name }}</option>
                {% endfor %}
            </select>
            <label for="status">Configuration/Ordering Status</label>
            <select id="status" name="status">
                <option value="">-------</option>
                {% for status in status_list %}
                <option value="{{ status.name|lower|replacewhitespace:"_" }}">{{ status.name }}</option>
                {% endfor %}
            </select>
            <button id="search_button" class="submit" type="button" name="search_button" value="search">Search</button>
        </form>
    </div>
    <div id="search_results">
    <h3>Latest Configurations</h3>
    {% if header_list %}
        <table>
        <thead>
            <tr>
                <th style="width: 20px;"><input class="selectall" type="checkbox"></th>
                <th style="width:175px;">Configuration</th>
                <th style="width:175px;">Program</th>
                <th style="width:175px;">Version</th>
                <th style="width:175px;">Person Responsible</th>
                <th style="width:175px;">BoM Request Type</th>
                <th style="width:175px;">Customer Unit</th>
                <th style="width:175px;">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for header in header_list %}
        <tr>
            <td><input class="recordselect" type="checkbox" value="{{ header.pk }}"></td>
            <td><a href="?link={{ header.pk|searchscramble }}">{{ header.configuration_designation }}</a></td>
            <td>{{ header.program }}</td>
            <td>{{ header.baseline_version }}</td>
            <td>{{ header.person_responsible }}</td>
            <td>{{ header.bom_request_type }}</td>
            <td>{{ header.customer_unit }}</td>
            <td>{{ header.configuration_status }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <button id="download" disabled>Download</button>
    {% else %}
        <p>NO CONFIGURATIONS DEFINED</p>
    {% endif %}
    </div>
    {% else %}
    <h4>You must log in to use this function</h4>
    {% endif %}
</div>
<script>
    $('a.headtitle:contains("Search")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
    $('button[value="basic"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
    var xhr;
    $(document).ready(function(){
        $('#search_button').click(function(){
           $('#search_form').submit();
        });

        $('#config, #person, #request, #status, #customer').keydown(function(e){
           if (e.keyCode == 13){
               $('#search_form').submit();
           }
        });

        $(document).on('click', '.selectall', function(){
            if($(this).prop('checked')){
                $('.recordselect').attr('checked', 'checked');
            } else {
                $('.recordselect').removeAttr('checked');
            }
            $($('.recordselect')[0]).change();
        });

        $(document).on('click change', '.recordselect',function(){
            if($('.recordselect:checked').length > 0) {
                $('#download').removeAttr('disabled');
            } else {
                $('#download').attr('disabled', 'disabled');
            }
        });

        $(document).keydown(function(e){
            if(e.keyCode == 27 && xhr !== undefined && $('#myModal').hasClass('in')) {
                xhr.abort();
            }
        });

        $(document).on('click', '#download', function(){
            var destination = "{% url 'bomconfig:downloadmulti' %}";
            var list = '';
            $('.recordselect:checked').each(function(i, elem){
                list += $(elem).val() + ',';
            });
            destination += '?list=' + encodeURIComponent(list.slice(0, -1));
            window.open(destination, '_blank','left=100,top=100,height=150,width=500,menubar=no,toolbar=no,location=no,resizable=no,scrollbars=no');
        });
    });

    function search(eventObj){
        $('#myModal').modal('show');
        xhr = $.ajax({
            url: "{% url 'bomconfig:search' %}",
            dataType: "html",
            type: "POST",
            data: {
                config_design: $('#config').val(),
                person: $('#person').val(),
                customer: $('#customer').val(),
                request: $('#request').val(),
                status: $('#status').val()
            },
            headers:{
                'X-CSRFToken': getcookie('csrftoken'),
            },
            success: function(data) {
                xhr = undefined;
                var $results = $('#search_results');
                $results.empty();
                $results.append($('<h3>Search Results</h3>'));
                $results.append(data);
                $('#myModal').modal('hide');
            },
            error: function() {
                $('#myModal').modal('hide');
            }
        });
        return false;
    }

    function cleanDataCheck(link){
        window.location.href = link.dataset.href;
    }
</script>
<style>
    button:disabled {
        color: #999999;
    }
</style>
{% endblock %}