{% extends "BoMConfig/template.html" %}
{% load customtemplatetag %}
{% block content %}
<div id="main-body" xmlns="http://www.w3.org/1999/html">
    {% if user.is_authenticated %}
    <div id="action_buttons">
		<button class="btn" type="button" name="action" value="basic" onclick="window.location.href='{% url 'bomconfig:search' %}'">Basic</button>
		<button class="btn" type="button" name="action" value="advanced" onclick="window.location.href='{% url 'bomconfig:searchadv' %}'">Advanced</button>
	</div>
    <div id="search_filter">
        <h5>NOTE: The asterisk (*) character can be used as multi-character wildcard, and the question mark (?) can be used for single-character wildcard</h5>
        <form id="search_form" method="POST" onsubmit="return search()">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <h4 id="header_search_title">BoM Config Header&nbsp;<span class="caret"></span></h4>
                    <ul id="header_search" style="list-style-type: none" aria-expanded="true" class="collapse in">
                        <li><label for="config">Configuration</label>
                            <input id="config" type="text" name="config"/></li>
                        <li><label for="request">REACT Request</label>
                            <input id="request" type="text" name="request"/></li>
                        <li><label for="customer">Customer Unit</label>
                            <select id="customer" name="customer">
                                <option value="">-------</option>
                                <option value="AT&T">AT&T</option>
                                <option value="Verizon">Verizon</option>
                                <option value="Sprint">Sprint</option>
                                <option value="T-Mobile">T-Mobile</option>
                            </select></li>
                        <li><label for="person">Person Responsible</label>
                            <input id="person" type="text" name="person"/></li>
                        <li><label for="soldto">Sold-to Party</label>
                            <input id="soldto" type="text" name="soldto"/></li>
                        <li><label for="program">Program</label>
                            <input id="program" type="text" name="program"/></li>
                        <li><label for="tech">Technology</label>
                            <input id="tech" type="text" name="tech"/></li>
                        <li><label for="base_impact">Baseline Impacted</label>
                            <input id="base_impact" type="text" name="base_impact"/></li>
                        <li><label for="model">Model</label>
                            <input id="model" type="text" name="model"/></li>
                        <li><label for="model_desc">Model Description</label>
                            <input id="model_desc" type="text" name="model_desc"/></li>
                        <li><label for="init_rev">Initial Revision</label>
                            <input id="init_rev" type="text" name="init_rev"/></li>
                        <li><label for="status">Configuration/Ordering Status</label>
                            <select id="status" name="status">
                                <option value="">-------</option>
                                <option value="in_process">In Process</option>
                                <option value="active">Active</option>
                                <option value="on_hold">On Hold</option>
                                <option value="cancelled">Cancelled</option>
                                <option value="discontinued">Discontinued</option>
                                <option value="obsolete">Obsolete</option>
                            </select></li>
                        <li><label for="inquiry_site">Inquiry / Site Template Number</label>
                            <input id="inquiry_site" type="text" name="inquiry_site"/></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4 id="entry_search_title">BoM Config Entry&nbsp;<span class="caret"></span></h4>
                    <ul id="entry_search" style="list-style-type: none" aria-expanded="true" class="collapse in">
                        <li><label for="prod_num">Product Number</label>
                            <input id="prod_num" type="text"/></li>
                        <li><label for="prod_desc">Product Description</label>
                            <input id="prod_desc" type="text"/></li>
                        <li><label for="cust_num">Customer Number</label>
                            <input id="cust_num" type="text"/></li>
                        <li><label for="mu_flag">MU-Flag</label>
                            <select id="mu_flag">
                                <option value="">----</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
{#                            <input id="mu_flag" type="text"/></li>#}
                        <li><label for="xplant">X-Plant Material Status</label>
                            <input id="xplant" type="text"/></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4 id="revision_search_title">BoM Config Revision&nbsp;<span class="caret"></span></h4>
                    <ul id="revision_search" style="list-style-type: none" aria-expanded="true" class="collapse in">
                        <li><label for="base_rev">Baseline Revision</label>
                            <input id="base_rev" type="text"/></li>
                        <li><label for="release">Release Date</label>
                            <select id="release_param">
                                <option value="lt"><</option>
                                <option value="lte"><=</option>
                                <option value="exact" selected>=</option>
                                <option value="gte">>=</option>
                                <option value="gt">></option>
                            </select>
                            <input id="release" type="date"/></li>
                    </ul>
                </div>
            </div>
            <div>
                <button id="search_button" class="btn" type="button" name="search_button" value="search">Search</button>
            </div>

        </form>
    </div>
    <div id="search_results">
{#    <h3>Latest Configurations</h3>#}
{#    {% if header_list %}#}
{#        <table>#}
{#        <thead>#}
{#            <tr>#}
{#                <th style="width:175px;">Configuration</th>#}
{#                <th style="width:175px;">Version</th>#}
{#                <th style="width:175px;">BoM Request Type</th>#}
{#                <th style="width:175px;">Customer Unit</th>#}
{#                <th style="width:175px;">Status</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for header in header_list %}#}
{#        <tr>#}
{#            <td><a href="?link={{ header.pk|searchscramble }}">{{ header.configuration_designation }}</a></td>#}
{#            <td>{{ header.baseline_version }}</td>#}
{#            <td>{{ header.bom_request_type }}</td>#}
{#            <td>{{ header.customer_unit }}</td>#}
{#            <td>{{ header.configuration_status }}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#        </table>#}
{#    {% else %}#}
{#        <p>NO CONFIGURATIONS DEFINED</p>#}
{#    {% endif %}#}
    </div>
    {% else %}
    <h4>You must log in to use this function</h4>
    {% endif %}
</div>
<script>
    $('a:contains("Search")').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc')
    $('button[value="advanced"]').css('outline','5px auto -webkit-focus-ring-color').css('background-color','#cccccc');
    $(document).ready(function(){
        $('#search_button').click(function(){
           $('#search_form').submit();
        });

        $('#header_search_title').click(function(){
            var $header = $('#header_search');
            $header.collapse('toggle');
        });

        $('#header_search').on('hide.bs.collapse show.bs.collapse',function(event){
            if (event.type == 'hide'){
                $('#header_search_title .caret').css({transform: 'rotate(-90deg)'});
            } else {
                $('#header_search_title .caret').css({transform: 'rotate(0deg)'});
            }
        });

        $('#entry_search_title').click(function(){
            $('#entry_search').collapse('toggle');
        });

        $('#entry_search').on('hide.bs.collapse show.bs.collapse',function(event){
            if (event.type == 'hide'){
                $('#entry_search_title .caret').css({transform: 'rotate(-90deg)'});
            } else {
                $('#entry_search_title .caret').css({transform: 'rotate(0deg)'});
            }
        });

        $('#revision_search_title').click(function(){
            $('#revision_search').collapse('toggle');
        });

        $('#revision_search').on('hide.bs.collapse show.bs.collapse',function(event){
            if (event.type == 'hide'){
                $('#revision_search_title .caret').css({transform: 'rotate(-90deg)'});
            } else {
                $('#revision_search_title .caret').css({transform: 'rotate(0deg)'});
            }
        });
    });

    function search(eventObj){
        $('#myModal').modal('show');
        $.ajax({
            url: "{% url 'bomconfig:searchadv' %}",
            dataType: "html",
            type: "POST",
            data: {
                request: $('#request').val(),
                customer: $('#customer').val(),
                sold_to: $('#soldto').val(),
                program: $('#program').val(),
                config_design: $('#config').val(),
                technology: $('#tech').val(),
                base_impact: $('#base_impact').val(),
                model: $("#model").val(),
                model_desc:$("#model_desc").val(),
                init_rev: $("#init_rev").val(),
                status: $('#status').val(),
                inquiry_site: $('#inquiry_site').val(),
                person: $('#person').val(),

                product_num: $('#prod_num').val(),
                customer_num: $('#cust_num').val(),
                description: $('#prod_desc').val(),
                mu_flag: $('#mu_flag').val(),
                xplant: $('#xplant').val(),

                base_rev: $('#base_rev').val(),
                release_param: $('#release_param').val(),
                release: $('#release').val()
            },
            headers:{
                'X-CSRFToken': getcookie('csrftoken'),
            },
            success: function(data) {
                $('#search_results').empty();
                $('#search_results').append($('<h3>Search Results</h3>'));
                $('#search_results').append(data);
                $('#search_button').blur();
                if($('#header_search').hasClass('in')){
                    $('#header_search').collapse('toggle');
                }
                if($('#entry_search').hasClass('in')){
                    $('#entry_search').collapse('toggle');
                }
                if($('#revision_search').hasClass('in')){
                    $('#revision_search').collapse('toggle');
                }
                $('#myModal').modal('hide');
                //bodyResize();
            }
        });
        return false;
    }
</script>
{% endblock %}